<section id="welcome" class="grid">
    <div class="welcome-text">
        <h2>Welcome to the Ethiopian Veterinary Association</h2>
        <p class="leading">
            Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
            membership organization based in Ethiopia, established on june 22,1974 through the
            initaitive of 13 visionary veterinarians...
        </p>
        <a href="/about" class="button">Learn More...</a>
        <br>
        <a href="/membership" class="button">Join EVA...</a>
    </div>
    <div class="welcome-img">
        <img src="/assets/images/Participants-7-2.jpg" alt="EVA General Assembly" srcset="">
    </div>
</section>