<!--
<section id="welcome" class="grid">
    <div class="welcome-text">
        <h2>Welcome to the Ethiopian Veterinary Association</h2>
        <p class="leading">
            Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
            membership organization based in Ethiopia, established on june 22,1974 through the
            initaitive of 13 visionary veterinarians...
        </p>
        <div class="buttons">
            <a href="/about" class="button">Learn More...</a>
            <a href="/membership" class="button">Join EVA...</a>
        </div>
    </div>

</section>
-->
    <div class="carousel-btn">
        <div class="car-btn">
            <a href="/about" class="button">Learn More...</a>
            <a href="https://docs.google.com/forms/d/1ULa-f4aWVeBC2B26fnQhyv3IAQQ35f26Ps0-uIzqZPU/viewform?edit_requested=true" target="_blank" class="button">Register..</a>
        </div>
    </div>

