<section aria-label="Newest Photos">
    <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
    <ul data-slides>
        <li class="slide" data-active>
            <img src="/images/conf36-web.jpg"  alt="36th EVA Annual Conference">
        </li>
        
        <li class="slide">
            <img src="/images/Participants-7-2.jpg"  alt="EVA association">
        </li>
        <li class="slide">
            <img src="/images/EVJ-Accredited.jpg"  alt="EVJ">
        </li>
    </ul>
</div>
</section>