<div class="top-nav grid">
    <div class="site-title">
        <a href="/">
            <img class="logo" src="/assets/images/EVA_Logo.jpg" alt="logo" srcset="">
        </a>
        <p class="moto">Caretakers of the Animal Kingdom !</p>
    </div>
    <div class="secondary-menu">
        <div class="social-top">
            <a href="#" class="fa fa-telegram"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-skype"></a>
        </div>
        <div class="submenu ">
            <a href="/events">Events</a>
            <a href="/jobs">Jobs</a>
            <a href="/helpEVA">Help EVA</a>
            <a href="/relatedlinks">Related Links</a>
            <a href="/faq">FAQs</a>
        </div>
    </div>
</div>
<nav class="mobile grid">
    <div class="site-title">
        <a href="/">
            <img class="logo" src="/assets/images/EVA_Logo.jpg" alt="logo" srcset="">
        </a>
        <p class="moto">Caretakers of the Animal Kingdom !</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/evj">Journal-EVJ</a></li>
        <li><a href="/publication">Publications</a></li>
        <li><a href="/membership">Membership</a></li>
        <li><a href="/training">Trainings</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/conference">EVA-Conference</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/helpEVA">Help EVA</a></li>
        <li><a href="/relatedlinks">Related Links</a></li>
        <li><a href="/faq">FAQs</a></li>
    </ul>
    <div class="humberger">
        ___<br>
        ___<br>
        ___
    </div>
</nav>

<nav class="main-nav">
    <ul >
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a>
            <!--
            <ul>
                <li><a href="/about">What We Do</a></li>
                <li><a href="/about">Our Structure</a>
                <ul>
                    <li><a href="/about">Organizational Structure</a></li>
                    <li><a href="/about">Board</a></li>
                    <li><a href="/about">Editorial</a></li>
                    <li><a href="/about">Sectreteriat</a></li>
                </ul>
                </li>
                <li><a href="/about">Partners</a></li>
            </ul>
            -->
        </li>
        <li><a href="/evj">Journal-EVJ</a></li>
        <li><a href="/publication">Publications</a></li>
        <li><a href="/membership">Membership</a></li>
        <li><a href="/training">Trainings</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/conference">EVA-Conference</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
    
</nav>