<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <img src="/assets/images/Group-photo-eva.jpg" alt="" srcset="">
                    <h2>ABOUT ETHIOPIAN VETERINARY ASSOCIATION</h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4 id="background">Background</h4>
                        <section>
                            <p>
                                &nbsp; &nbsp; Ethiopian Veterinary Association (EVA) is an autonomous non-for-profit
                                professional membership organization in Ethiopia, established on June 22, 1974 through
                                the
                                initiative of 13 visionary veterinarians. The association is a member of the World
                                Veterinary Association. It has a mandate of promoting and strengthening the veterinary
                                profession, respect professional ethics and code of conduct, and above all to safe guard
                                the
                                right of veterinarians. In its lifetime, the association was re-registered twice with
                                the
                                most recent one made on July 3rd, 2019 and accorded legal personality with Registry
                                Number
                                0495 as local organization in accordance with the Civil Society Organizations
                                Proclamation
                                no. 1113/2019 (First registration occurred in 2009). The association has close to 2000
                                members involved in different sectors of the profession.
                            </p>
                            <p>
                                Besides its role in protecting the rights and interests of veterinarians, the
                                association
                                has been contributing to the emergence of efficient, effective and competitive livestock
                                industry in Ethiopia. The association is dedicated to policy advocacy, development,
                                promotion, and dissemination of knowledge and good practices in the livestock sector and
                                serving the interest of the society.
                            </p>
                        </section>
                        <h4 id="purpose">Purpose</h4>
                        <section>
                            <p><em>
                                    The purpose of the association is to advance the science and art of veterinary
                                    medicine, including its relationship with public health, biological science and
                                    agriculture.
                                    Specifically, the association
                                </em></p>
                            <ul>
                                <li>Strives to protect the interest and right of veterinarians;</li>
                                <li>Enables members, develop their veterinary and human biological medicine and
                                    agricultural
                                    profession;</li>
                                <li>Serves as a bridge for the veterinary medicine and other related professions
                                    networking
                                    platform;</li>
                                <li>Conducts discussions and researches in collaboration with governmental and
                                    non-governmental organizations;</li>
                                <li>Cooperates and operates closely with the concerned government bodies and play its
                                    own
                                    roles in the veterinary health sector thereby directing the rules and regulations of
                                    the
                                    development activities;</li>
                                <li>Ensures that the professional ethics and standard are respected and utilized
                                    complying
                                    with the rules and regulations;</li>
                                <li>Supports the veterinary and related educational activities quality and standards;
                                </li>
                                <li>Operate freedom and patent rights;</li>
                                <li>Develops the veterinary career thereby professionals, develop their expertise and
                                    operate their own, governmental and nongovernmental organizations.</li>
                            </ul>

                        </section>
                        <h4 id="mvc"></h4>
                        <section>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img">
                                        <i class="card-icon fa-solid fa-eye"></i>
                                    </div>
                                    <div class="card-info">
                                        <h4>VISION</h4>
                                        <p>
                                            EVA aspires to become one of the top five professional associations in
                                            Ethiopia and ten in Africa by 2026.
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <i class="card-icon fa-solid fa-crosshairs"></i>
                                    </div>
                                    <div class="card-info">
                                        <h4>MISSION</h4>
                                        <p>Highly committed to maintain members’ rights and benefits, deliver
                                            people health, and create strong partnership with government, NGOs, and
                                            other professional associations.
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <i class="card-icon fa-solid fa-scale-balanced"></i>
                                    </div>
                                    <div class="card-info">
                                        <h4>CORE VALUES</h4>
                                        <img class="card-image" src="/assets/images/CORE-VALUES.jpg" alt="Core Values">

                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4 id="structure">General Structure</h4>
                        <section>
                            <div class="card-container">

                                <div class="card">
                                    
                                    <div class="card-info">
                                        <h4>STRATEGIC OBJECTIVE</h4>
                                        <img class="card-image" src="/assets/images/org-chart-300x230-1.png" alt="">
                                    </div>
                                </div>
                                <div class="card">
                                    
                                    <div class="card-info">
                                        <h4>ORGANIZATIONAL STRUCTURE</h4>
                                        <img class="card-image" src="/assets/images/Strategic-pillars.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4 id=eva-partners>OUR PARTNERS</h4>
                        <section>
                            <p>
                                Ethiopian veterinary association has been, and will continue to pursue its mission
                                through a strong partnership with pertinent institutions and sectors, including
                                governmental, regional and global organizations, which are engaged in veterinary
                                education, agriculture, livestock health and research.
                            </p>
                            <ul>
                                <li><a class="link" href="www.http://www.moa.gov.et/" target="_blank">Ministry of
                                        Agriculture</a></li>
                                <li><a class="link" href="https://worldvet.org/" target="_blank">World Veterinary
                                        Association (WVA) </a></li>
                                <li><a class="link" href="https://www.woah.org/" target="_blank">World Organization for
                                        Animal Health (OIE) </a></li>
                                <li><a class="link" href="http://www.fao.org/home/en/" target="_blank">Food and
                                        Agricultural Organization (FAO) </a></li>
                                <li><a class="link" href="" target="_blank">World Health Organization (WHO) </a></li>
                                <li><a class="link" href="" target="_blank">International Livestock Research Institute
                                        (ILRI) </a></li>
                                <li><a class="link" href="" target="_blank">Zoetis A.L.P.H.A </a></li>
                                <li><a class="link" href="" target="_blank">Regional Public Veterinary Services</a></li>
                                <li><a class="link" href="" target="_blank">Academic Institutions</a></li>
                                <li><a class="link" href="" target="_blank">Research Institutes (Ethiopian Institute of
                                        Agricultural Research) </a>
                                </li>
                                <li><a class="link" href="" target="_blank">National Veterinary Institute </a></li>
                                <li><a class="link" href="" target="_blank">National and Regional Animal Health
                                        Diagnostic Laboratories </a></li>
                                <li><a class="link" href="" target="_blank">Civil Society Organizations Agency </a></li>
                                <li><a class="link" href="" target="_blank">Professional Associations (ESAP, EAHPA, ESE,
                                        EPPPA)</a></li>
                                <li><a class="link" href="" target="_blank">Private Veterinary Service Providers</a>
                                </li>
                                <li><a class="link" href="" target="_blank">Animal Welfare Charities (The Brooke
                                        Ethiopia (BE), The Donkey Sanctuary
                                        (DSE), Society of Animals Abroad (SPANA))</a></li>
                                <li><a class="link" href="" target="_blank">Ethiopian Civil Society Organizations
                                        Forum</a></li>
                                <li><a class="link" href="" target="_blank">Livestock Producers and processors</a></li>
                                <li><a class="link" href="" target="_blank">Donors (USAID, EU,...)</a></li>
                            </ul>
                        </section>
                        <h4 id="board">EXECUTIVE BOARD</h4>
                        <section>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/bojia.jpg" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Bojia Endebu</h4>
                                        <p>
                                            President, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/fisaha.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Fisseha Abinet</h4>
                                        <p>
                                            Vice President, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/fasica.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Fasika Belete</h4>
                                        <p>
                                            Secretary, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/fitsum.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Fitsum Alemayehu</h4>
                                        <p>
                                            Board Member, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/kalkidan.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Kalkidan Wondimu</h4>
                                        <p>
                                            Board Member, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/hayat.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Hayat Kelifa</h4>
                                        <p>
                                            Board Member, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/executive-board/badasso.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Dr. Bedaso Mammo</h4>
                                        <p>
                                            Board Member, EVA
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4 id="editorials">EDITORIAL BOARD</h4>
                        <section>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/kassahun-Asmare-Wondim.jpg" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Kassahun Asmare(Prof.)</h4>
                                        <p>
                                            Editor-In-Chief
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/hagos-256x300-1.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Hagos Ashenafi(Prof.)</h4>
                                        <p>
                                            Associate Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/tadelle.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Tadele Tolosa(Prof.)</h4>
                                        <p>
                                            Assistant Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/balok-256x300-1.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Balako gumi(Dr.)</h4>
                                        <p>
                                            Assistant Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/hadushe.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Birhanu Hadush(Dr.)</h4>
                                        <p>
                                            Assistant Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Asefa Deresa(Dr.)</h4>
                                        <p>
                                            Assistant Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Asefa Asmare(Prof.)</h4>
                                        <p>
                                            Assistant Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Yitagel Terefe(Dr.)</h4>
                                        <p>
                                            Editorial Assistant
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/editorial-board/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Wudu Temesgen(Dr.)</h4>
                                        <p>
                                            Assistant Editor
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4 id="staff">OUR STAFF</h4>
                        <section>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/eva-staff/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Yilkal Kebede(Dr.)</h4>
                                        <p>
                                            General Manager
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/eva-staff/fasil.jpg" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>
                                            Fasil Awol(Dr.)</h4>
                                        <p>
                                            HEARD Project Coordinator
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/eva-staff/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Gewado Ayledo(Dr.)</h4>
                                        <p>
                                            HEARD Project Veterinary Officer
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/eva-staff/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Sihine Demeke</h4>
                                        <p>
                                            Admin and Finance Officer
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/images/eva-staff/person.png" alt="bojia">
                                    </div>
                                    <div class="card-info">
                                        <h4>Meron Solomon</h4>
                                        <p>
                                            Secretary/Cashier
                                        </p>
                                    </div>
                                    <div class="btn">
                                        <button type="button"> <a href="/about">Read more</a></button>
                                    </div>
                                </div>
                                
                            </div>
                        </section>
                    </div>
                    <div class="sidebar">
                        <ul>
                            <li><a href="#background" target="_top">Background</a></li>
                            <li><a href="#purpose">Purpose of EVA</a></li>
                            <li><a href="#mvc">Mission,Vision and values</a></li>
                            <li><a href="#structure">Organizational Structure</a></li>
                            <li><a href="#eva-partners">Our Partners</a></li>
                            <li><a href="#board">Executive Board</a></li>
                            <li><a href="#editorials">Editorial Board</a></li>
                            <li><a href="#staff">Secretariat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>