<html lang="en">
<%- include('./partials/head.ejs');%>
<body>
    <!--nav-->
    <%- include('./partials/nav.ejs');%>
    <!--Content-->
    <div class="content">
        
        <section id="contact">
            <h3>Get in touch</h3>
            <p class="leading">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam magni iure natus debitis corporis nesciunt, iusto pariatur consequuntur doloremque, nostrum ullam quod quidem, voluptatem tempore officiis aspernatur rerum dolor rem?
            </p>
            <form action="" method="post">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="yourMail@email.com">
                <textarea name="" id="" cols="30" rows="10" placeholder="your message"></textarea>
                <button class="button">Send Message</button>
            </form>
        </section>


        
    </div>
    <!--Footer-->
    <%- include('./partials/footer.ejs');%>
</body>
</html>