<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>CPD Courses </h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4 id="popular-courses">Popular Courses</h4>
                        <section>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img ">
                                        <img class="card-image" src="/assets/images/training.png" alt="training"
                                            srcset="">
                                    </div>
                                    <div class="card-info">
                                        <h4>Public-private Partnership</h4>
                                        <p>This E-course is aimed for <span class="read-more">read more..</span></p>
                                        <a class="button" href="/courses" target="_blank">Enroll</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img ">
                                        <img class="card-image" src="/assets/images/training.png" alt="training"
                                            srcset="">
                                    </div>
                                    <div class="card-info">
                                        <h4>Public-private Partnership</h4>
                                        <p>This E-course is aimed for <span class="read-more">read more..</span></p>
                                        <a class="button" href="/courses" target="_blank">Enroll</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img ">
                                        <img class="card-image" src="/assets/images/training.png" alt="training"
                                            srcset="">
                                    </div>
                                    <div class="card-info">
                                        <h4>Public-private Partnership</h4>
                                        <p>This E-course is aimed for <span class="read-more">read more..</span></p>
                                        <a class="button" href="/courses" target="_blank">Enroll</a>
                                    </div>
                                </div>
                                
                        </section>
                        <h4>Available Courses :</h4>
                        <section>

                        </section>

                    </div>
                    <div class="sidebar">
                        <ul>
                            <li><a href="/training#about-cpd" target="_top">About CPD Training</a></li>
                             <li><a href="/courses">CPD Courses </a></li>
                            <li><a href="/modules">CPD Modules </a></li>
                            <li><a href="/training#training-faq">Faqs about CPD</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Log in</a></li>
                        </ul>
                    </div>

                </div>
            </div>


            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>