<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="sticky-container">
                    <div class="main">
                        <h4>Volume 26, Number 2</h4>
                        <h3>Published: 2022-08-30</h3><br>
                        <h3>Articles</h3>
                        <ul class="archive-list">
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_1.pdf" target="_blank" class="link ">
                                    Effects of supplementation of different indigenous species of browses to Arsi-Bale
                                    yearling goats on feed intake, growth performance, and helminthes loads
                                </a>
                                <p>Amsalu Sisay, Tegene Negesse, Ajebu Nurfeta</p>
                                <p><i>1-17</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_1.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_2.pdf" target="_blank" class="link ">
                                    Antimicrobial resistance status of selected bacteria isolated from animal source
                                    foods and feed in Ethiopia
                                </a>
                                <p> Belachew Tefera, Tamiru Tilki, Nardos Tefera, Zerihun Bayene, Sileshi Belew, Rigbe
                                    Haftu, Fediko Tolasa, Yosef Nuguse, Sinke Ararso, Daniel Getachew, Befikadu Soyum,
                                    Tenaw Andualem
                                </p>
                                <p>18-37</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_2.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_3.pdf" target="_blank" class="link ">
                                    Prevalence and economic connotation of bovine and caprine hydatidosis at Abergele
                                    International Export Slaughterhouse, Mekele, Tigray Region
                                </a>
                                <p>Abebayehu Tadesse, Nebyat Negash</p>
                                <p>38-56 </p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_3.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_4.pdf" target="_blank" class="link ">
                                    Epidemiology of camel contagious ecthyma and molecular detection of the pathogen in
                                    Arero district, Ethiopia
                                </a>
                                <p>Bareda Diba, Benti Deresa Gelalcha, Birhanu Ayele, Bedane Adane</p>
                                <p>57-71</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_4.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_5.pdf" target="_blank" class="link ">
                                    A comprehensive study on the cattle production situation owned by refugees and
                                    hosting communities in the Gambella region, southwestern Ethiopia
                                </a>
                                <p>Jemberu Alemu Megenas, Misganu Amanuel Taera</p>
                                <p> 72-92</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_5.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_6.pdf" target="_blank" class="link ">
                                    Participatory epidemiological study on the burden of rabies in animals and humans in
                                    three districts of Buno Bedele Zone, West Ethiopia
                                </a>
                                <p>
                                    Moti Wakgari, Gari Getachew , Gijs Van’t Klooster, Nega Tewolde, Fredrick Kivaria,
                                    Charles Bebay
                                </p>
                                <p>93-106</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_6.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <h3>Review Article</h3>
                            <li>
                                
                                <a href="/assets/evj/vol26n2/evj_vol26n2_article_7.pdf" target="_blank" class="link ">
                                    One Health – A holistic solution for sustainable management of globalization-driven
                                    public health challenges
                                </a>
                                <p>Fufa Abunna, Gezahegne Mamo, Bekele Megersa</p>
                                <p>107-131</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_7.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <h3>Short Communication</h3>
                            <li>
                                
                                <a href="/assets/evj/vol26n2/evj_vol26n2_article_8.pdf" target="_blank" class="link ">
                                    Distribution of E. coli biotypes shed by dairy calves in selected dairy farms in
                                    Bishoftu, Ethiopia
                                  </a>
                                <p>
                                    Aragaw Ebabu Akane, Tesfaye Sisay Tessema, Destaw Asfaw Ali
                                </p>
                                <p>132-142</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_8.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n2/evj_vol26n2_article_9.pdf" target="_blank" class="link ">
                                A One Health approach to investigate bats as a potential source of zoonotic mycoses in selected areas of Mpumalanga province, the Republic of South Africa
                                </a>
                                <p>
                                    Tilaye Shibbiru Mengistu, Ilana van Wyk, Marinda Oosthuizen, Lientjie Cohen, Jeanette Wentzel
                                 </p>
                                <p>143-157</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n2/evj_vol26n2_article_9.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                       
                        </ul>
                    </div>
                    <div class="sidebar">
                        <img src="/assets/images/evj.jpg" alt="evj">
                        <ul>
                            <li><a href="/evj#description" target="_top">Description</a></li>
                            <li><a href="/evj#objective">Objectives of the EVJ</a></li>
                            <li><a href="/evj#guide">Guide for Authors</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="/evj#editorial">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <a href="/evj" class="button">Submit Manuscript</a>
                        </ul>


                    </div>
                </div>


            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>