<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="sticky-container">
                    <div class="main">
                        <h4>Volume 27, Number 1</h4>
                        <h3>Published: 2023-03-27</h3><br>
                        <h3>Articles</h3>
                        <ul class="archive-list">
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_1.pdf" target="_blank" class="link ">
                                    Giardiasis of domestic animals and its zoonotic significance: A review
                                </a>
                                <p>Dinka Ayana</p>
                                <p><i>1-30</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_1.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_2.pdf" target="_blank" class="link ">
                                Assessment of bovine fasciolosis and the analytical test evaluation at Yirgalem municipal abattoir, Ethiopia
                                </a>
                                <p>Abebayehu Tadesse, Wondimagegn Acklock</p>
                                <p> 31-54</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_2.pdf" download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_3.pdf" target="_blank" class="link ">
                                Historical analysis of animal diseases: Nagana in Southwestern Ethiopia, Gambella.
                                </a>
                                <p>Shimels Ayele Yalew</p>
                                <p>55-71</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_3.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_4.pdf" target="_blank" class="link ">
                                Medicinal plants and non-plant remedies used in the treatment of livestock ailments in Dawuro Zone, Southwestern Ethiopia
                                </a>
                                <p>Tegegn Dilbato, Feyissa Begna, Tadele Tolosa</p>
                                <p>72-92</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_4.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_5.pdf" target="_blank" class="link ">
                                Seroprevalence and associated risk factors of Toxoplasma gondii infection in immuno-compromised women and sheep of Bahir Dar City, Ethiopia
                                 </a>
                                <p>Gashaw Muche Alemnew, Birhan Agmas Mitiku, Taddesse Yayeh Yihun</p>
                                <p> 93-111</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_5.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_6.pdf" target="_blank" class="link ">
                                Dog demography, rabies awareness and dog bite cases in Bishoftu town, Ethiopia
                                </a>
                                <p> Hable Worku, Kebede Amenu, Tesfu Kassa, Nigatu Kebede, Musse Girma, Teshale Sori, Balako Gumi
                                </p>
                                <p>112-142</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_6.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_7.pdf" target="_blank" class="link ">
                                Foot and Mouth Disease in Adama and Boset districts, East Shewa zone, Ethiopia: Seroprevalence and Virus serotyping
                                </a>
                                <p>Aron Alemayehu Woldesenbet, Ayelech Muluneh, Haileleul Negussie, Yasmin Jibril
                                </p>
                                <p>143-156</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_7.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_8.pdf" target="_blank" class="link ">
                                Feeding frequency and its associated effects on the production and survival rate of Glossina fuscipes fuscipes
                                </a>
                                <p>
                                    Teklil Dulla Berror, Tilaye Shibbiru Mengistu
                                </p>
                                <p>157 -171</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_8.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n1/evj_vol27n1_article_9.pdf" target="_blank" class="link ">
                                A pilot survey on factors limiting veterinary service delivery systems at animal health facilities in Hawassa, Shashemene, and Negele Arsi, Ethiopia
                                </a>
                                <p>
                                    Shambel Tolasa Tafa, Tilaye Shibbiru Mengistu, Teshita Edaso Beriso, Teshita Edaso Beriso
                                </p>
                                <p>172-185</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n1/evj_vol27n1_article_9.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                                           </ul>
                    </div>
                    <div class="sidebar">
                        <img src="/assets/images/evj.jpg" alt="evj">
                        <ul>
                            <li><a href="/evj#description" target="_top">Description</a></li>
                            <li><a href="/evj#objective">Objectives of the EVJ</a></li>
                            <li><a href="/evj#guide">Guide for Authors</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="/evj#editorial">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <a href="/evj" class="button">Submit Manuscript</a>
                        </ul>


                    </div>
                </div>


            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>