<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="sticky-container">
                    <div class="main">
                        <h4>Volume 27, Number 2</h4>
                        <h3>published:2023-08-08</h3><br>
                        <h3>Articles</h3>
                        <ul class="archive-list">
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_1.pdf" target="_blank" class="link ">
                                    Knowledge, attitude, and practices (KAP) of University students regarding
                                    antimicrobial use (AMU) and antimicrobial resistance (AMR) in Ethiopia
                                </a>
                                <p>Fufa Abunna, Girma Gebresenbet, Bekele Megersa</p>
                                <p><i>1-22</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_1.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_article_2.pdf" target="_blank" class="link ">
                                    Staphylococcus aureus isolates from cow’s milk in dairy farms at Shinshicho town,
                                    Kembata Tembaro Zone, Southern Ethiopia: Prevalence, risk factors, and antimicrobial
                                    susceptibility profile
                                </a>
                                <p>Abriham Markos, Feyissa Begna, Yeshihareg Afera, Tadele Tolosa</p>
                                <p>23-44</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_article_2.pdf" download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_3.pdf" target="_blank" class="link ">
                                    Assessment of dairy farm’s hygienic practice and knowledge of farm workers on
                                    milk-borne zoonoses in three selected towns of the Wolaita Zone, Southern Ethiopia
                                </a>
                                <p>Mirtayhu Estifanos Ergano, Teshita Edaso Beriso, Tilaye Shibbiru Mengistu</p>
                                <p>45-66</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_3.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_4.pdf" target="_blank" class="link ">
                                    Review on performance responses of dairy cattle against thermal stress
                                </a>
                                <p>Tassew Mohammed</p>
                                <p>67-87</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_4.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_5.pdf" target="_blank" class="link ">
                                    Bovine mastitis: Prevalence, causes and associated risk factors in Silte Zone,
                                    Ethiopia
                                </a>
                                <p>Yared Tesfay, Sultan Abda, Desie Sheferaw</p>
                                <p>88-103</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_5.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_6.pdf" target="_blank" class="link ">
                                    Knowledge, attitude, and practice of goat farmers towards contagious caprine
                                    pleuropneumonia in Amhara region, Ethiopia
                                </a>
                                <p>Asres Zegeye, Wudu Temesgen, Tsegaw Fentie, Sefinew Alemu Mekonnen, Adugna Berju,
                                    Seleshe Nigatu, Ambaye Kenubih, Belete Haile, Wassie Molla</p>
                                <p>105-124</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_6.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_7.pdf" target="_blank" class="link ">
                                    Seroprevalence of Brucella infection in cattle and small ruminants in South Omo
                                    zone, southern Ethiopia
                                </a>
                                <p>Senait Getachew, Bersissa Kumsa, Yitbarek Getachew, Getachew Kinfu, Balako Gumi,
                                    Tesfaye Rufaele, Bekele Megersa</p>
                                <p>125-144</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_7.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_articles_8.pdf" target="_blank" class="link ">
                                    Contributing factors to repeat breeding and postpartum anestrus and pregnancy rate
                                    subsequent to hormonal intervention in crossbred dairy cows
                                </a>
                                <p>
                                    Kirubel Befekadu, Tewodros Eshete, Tilaye Demissie, Tefera Yilma
                                </p>
                                <p>144-160</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_articles_8.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_article_9.pdf" target="_blank" class="link ">
                                    Comparison of quantitative real-time PCR targeting nuc gene and culture-based plate
                                    count methods for quantification of Staphylococcus aureus in raw cow milk
                                </a>
                                <p>
                                    Enquebaher K. Tarekgne
                                </p>
                                <p>161-177</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_article_9.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_article_9.pdf" target="_blank" class="link ">
                                    Case Reports: Clinical features and postmorteum findings of sheep-associated
                                    malignant catarrhal fever in a 2-years old bull
                                </a>
                                <p>
                                    Gishu Bariso, Bethel Befekadu, Abdi Feyisa
                                </p>
                                <p>178-186</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_article_9.pdf" download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol27n2/evj_vol27n2_article_10.pdf" target="_blank" class="link ">
                                Caseous lymphadenitis: A case of sheep and its management in Ethiopia
                            </a>
                            <p>
                                Dessalew Habte
                            </p>
                            <p>187-195</p>
                            <div>
                                <a class="download-btn" href="/assets/evj/vol27n2/evj_vol27n2_article_10.pdf" download>
                                    <i class="fa-solid fa-download"></i>
                                    Download PDF</i></a>
                            </div>
                        </li>

                        </ul>
                    </div>
                    <div class="sidebar">
                        <img src="/assets/images/evj.jpg" alt="evj">
                        <ul>
                            <li><a href="/evj#description" target="_top">Description</a></li>
                            <li><a href="/evj#objective">Objectives of the EVJ</a></li>
                            <li><a href="/evj#guide">Guide for Authors</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="/evj#editorial">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <a href="/evj" class="button">Submit Manuscript</a>
                        </ul>


                    </div>
                </div>


            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>