<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="sticky-container">
                    <div class="main">
                        <h4>Volume 26, Number 1</h4>
                        <h3>Published: 2022-04-30</h3><br>
                        <h3>Articles</h3>
                        <ul class="archive-list">
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_1.pdf" target="_blank" class="link ">
                                    Major reproductive disorders and seroprevalence of brucellosis in dairy cows of
                                    Kembata-Tembaro zone, Southern Ethiopia.
                                </a>
                                <p>Mulatu Mitiku, Bekele Megersa, Desie Sheferaw</p>
                                <p><i>1-17</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_1.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_2.pdf" target="_blank" class="link ">
                                    Prevalence of epizootic lymphangitis and its associated risk factors in cart mules
                                    in Bahir Dar city, North Western Ethiopia
                                </a>
                                <p> Muluye Fetene, Sileshi Aregahagnb, Yeshwas Ferede
                                </p>
                                <p>18-29</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_2.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_3.pdf" target="_blank" class="link ">
                                    Sero-epidemiology of Contagious Bovine Pleuropneumonia in the Bench-Maji Zone,
                                    southwest Ethiopia
                                </a>
                                <p>Wosenyelesh Kebede, Rahmeto Abebe, Jemere Bekele Harito</p>
                                <p>30-48 </p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_3.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_4.pdf" target="_blank" class="link ">
                                    Prevalence and risk factors associated with bovine tuberculosis in local and
                                    crossbred dairy cattle in Debre Berhan milk shed, central Ethiopia

                                </a>
                                <p>Kassa Demissie, Gezahegne Mamo, Musse Girma, Balako Gumi, Takele Abayneh, Gobena
                                    Ameni
                                </p>
                                <p>49-65</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_4.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_5.pdf" target="_blank" class="link ">
                                    Occurrence and antimicrobial susceptibility of Salmonella in feces and milk samples
                                    of lactating dairy cows in Addis Ababa, Ethiopia
                                </a>
                                <p>Habtamu Mekonnen, Haile Alemayehu, Musse Girma, Tadesse Eguale</p>
                                <p> 66-81</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_5.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_6.pdf" target="_blank" class="link ">
                                    Status of small ruminant fasciolosis and diagnostic test evaluation at Haramaya town
                                    municipal abattoir, East Harrarghe Zone, Ethiopia
                                </a>
                                <p>
                                    Abebayehu Tadesse, Juhar Usman
                                </p>
                                <p> 82-104</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_6.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>

                            <li>
                                <a href="/assets/evj/vol26n1/evj_vol26n1_article_7.pdf" target="_blank" class="link ">
                                    Epidemiological and clinical characteristics of the foot and mouth disease outbreaks
                                    in cattle in central Ethiopia
                                </a>
                                <p>Zelalem Mohammed, Abde Aliy, Yasmin Jibril, Haileleul Negussie</p>
                                <p>105-121</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_7.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>

                            <li>
                                <a href="/assets/evj/vol26n1/evj_vol26n1_article_8.pdf" target="_blank" class="link ">
                                    Prevalence and antimicrobial susceptibility of Escherichia coli O157:H7 in raw cow’s
                                    milk in Gojo and Shukute towns, central Ethiopia
                                  </a>
                                <p>
                                    Mulata Bekele Gudisa, Manyazewal Anberber, Endrias Zewdu Gebremedhin, Lencho Megersa
                                    Marami
                                </p>
                                <p>122-135</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_8.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>
                            <li><a href="/assets/evj/vol26n1/evj_vol26n1_article_9.pdf" target="_blank" class="link ">
                                Short communication : Isolation and identification of Clostridium tetani from tetanus suspected equine and their environment in selected sites of central Ethiopia
                                </a>
                                <p>
                                    Gezahegne Mamo, Eskendir Kedir, Hika Waktole, Fufa Abunna, Debebe Ashenafi, Asmelash Tassew, Muluken Tekle, Gobena Ameni
                                 </p>
                                <p>136 - 146</p>
                                <div>
                                    <a class="download-btn" href="/assets/evj/vol26n1/evj_vol26n1_article_9.pdf"
                                        download>
                                        <i class="fa-solid fa-download"></i>
                                        Download PDF</i></a>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="sidebar">
                        <img src="/assets/images/evj.jpg" alt="evj">
                        <ul>
                            <li><a href="/evj#description" target="_top">Description</a></li>
                            <li><a href="/evj#objective">Objectives of the EVJ</a></li>
                            <li><a href="/evj#guide">Guide for Authors</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="/evj#editorial">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <a href="/evj" class="button">Submit Manuscript</a>
                        </ul>


                    </div>
                </div>


            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>