<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>ABOUT ETHIOPIAN VETERINARY JOURNAL</h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h3>(Ethiop.Vet.J.)</h3>
                        <h4 id="description">Description</h4>
                        <section>
                            <p>
                                &nbsp; The Ethiopian Veterinary journal (Ethiop.Vet.J.) is a multidisciplinary
                                peer-reviewed scientific journal of the Ethiopian Veterinary Association(EVA) intended
                                to promote animal health and production of national and regional /international
                                importance. The journal publishes review articles, original research articles, short
                                communication as well as technical notes in the English language.
                            </p>
                        </section>
                        <h4 id="objective">Objectives of the EVJ</h4>
                        <section>
                            <ol class="numbered-list">
                                <li>To stand as the official scientific organ of the Ethiopian veterinary association
                                    and serve as a medium of communication with professionals in the fields of animal
                                    health and production and other related disciplines.</li>
                                <li>To effectively disseminate research outputs in all spheres of veterinary service,
                                    veterinary public health, animal production, and other related fields of study.</li>
                                <li>to help promote agricultural development in Ethiopia and the sub-region as a whole
                                    through generation via research technologies, methods, etc, and dissemination of
                                    scientific knowledge to stakeholders and ultimately to end-users. Read more…</li>
                            </ol>
                        </section>
                        <h4 id="guide"> Guide for Authors</h4>
                        <section>
                            <p >More information on the requirements and procedure is available in the "Guide for Authors" document, <a class="link" href="/assets/evj/Submission-guidelines.pdf" target="_blank"> Read authors guide here ...</a></p>

                            <div>
                                <a class="download-btn" href="/assets/evj/Submission-guidelines.pdf" download>
                                    <i class="fa-solid fa-download"></i>
                                    Download PDF</i></a>
                            </div>
                            
                        </section>

                        <h4 id="journal-volumes">JOURNAL VOLUMES</h4>
                         <section>
                            <h3>Latest Journals</h3>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/evj/evj-cover.jpg" alt="evj">
                                    </div>
                                    
                                    <div class="btn">
                                        <button type="button"> <a href="/evj-vol27n2">Volume 27, No.2</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/evj/evj-cover.jpg" alt="evj">
                                    </div>
                                    
                                    <div class="btn">
                                        <button type="button"> <a href="/evj-vol27n1">Volume 27, No.1</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/evj/evj-cover.jpg" alt="evj">
                                    </div>
                                    
                                    <div class="btn">
                                        <button type="button"> <a href="/evj-vol26n2">Volume 26, No.2</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/evj/evj-cover.jpg" alt="evj">
                                    </div>
                                    
                                    <div class="btn">
                                        <button type="button"> <a href="/evj-vol26n1">Volume 26, No.1</a></button>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="buttons"> <a href="/archive" class="button">More Journal Volumes</a></div>
                            <div class="buttons"> <a href="/manuscript" class="button">SUBMIT MANUSCRIPT</a></div>
                        </section>

                        <h4 id="editorial">Editorial Board</h4>
                        <section>
                            <p>Out team of Editorial is composed of highly Experianced Editors,
                                Their respective profile can be found on this  link <a class="link" href="/about#editorials" target="_blank">Editorial Board</a>
                            </p>
                                                        
                        </section>
                        <h4 id="ajor">Other Links</h4>
                        <section>
                            <p>Our Journals are also published on AJOL, you can access them by following
                                 <a class="link" href="https://www.ajol.info/index.php/evj" target="_blank">this link</a>.
                            </p>
                            
                        </section>
                    </div>
                    <div class="sidebar">
                        <img  src="/assets/images/evj.jpg" alt="evj">
                        <ul>
                            <li><a href="#description" target="_top">Description</a></li>
                            <li><a href="#guide">Guide for Authors</a></li>
                            <li><a href="#journal-volumes">Journal Volumes</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="#editorial">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <a href="/manuscript" class="button">Submit Manuscript</a>
                        </ul>
                        
                        
                    </div>
                </div>
               

            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>