<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>
<body>
    <!--nav-->
    <%- include('./partials/nav.ejs');%>
    <!--Content-->
    <div class="content">

        <div class="head-image">
            <h2>Frequently Asked questions(FAQs)</h2>
        </div>
        <div class="sticky-container">
            <div class="main">
                <h4>1-What EVA does?</h4>
                <section>
                    <p>The purpose of the association is to advance the science and art of veterinary medicine, including its relationship with public health, biological science and agriculture. Specifically, EVA is working:</p>
                                <ul>
                                    <li>To strive to protect the interest and right of veterinarians;</li>
                                    <li>To enable members, develop their veterinary and human biological medicine and agricultural profession;</li>
                                    <li>To serve as a bridge for the veterinary medicine and other related professions networking platform;</li>
                                    <li>To conduct discussions and researches in collaboration with governmental and non-governmental organizations;</li>
                                    <li>To cooperate and operate closely with the concerned government bodies and play its own roles in the veterinary health sector thereby directing the rules and regulations of the development activities;</li>
                                    <li>To Ensure that the professional ethics and standard are respected and utilized complying with the rules and regulations;</li>
                                    <li>To support the veterinary and related educational activities quality and standards;</li>
                                    <li>To operate freedom and patent rights;</li>
                                    <li>To develop the veterinary career thereby professionals, develop their expertise and operate their own, governmental and nongovernmental organizations.</li>
                                </ul>
                </section>
                <h4>2- What are the sources of income for EVA?</h4>
                <ul>
                    <li>The major source of revenue of the association is from members’ contribution and the local and international donors and up on decision of the general assembly from public contribution, revenue generation activities in cash or in kind.</li>
                </ul>
                <h4> How is EVA governed?</h4>
                <ul>
                    <li>The association is governed by the General Assembly – the highest authority of the association comprising more than 1500 members. It is the most important body responsible for making decisions of the policy pillars and strategies of the association. The General Assembly has a president, deputy president and a secretary who lead regular, ordinary or other meetings, and oversee other activities vested in them by the General Assembly.</li>
                    <li>Executive Board: Accountable to the General Assembly, the Executive Board (EB) entails 7 members, who are vested with the several roles and responsibilities, including recruiting General Manager, overseeing the implementation of core directives by the General Assembly, stride to strengthen financial and institutional capacities of the Association, among others.</li>
                    <li>General Manager: Based in the association’s secretariat-Addis Ababa, the General Manager (GM) is responsible for executing and managing daily duties as well as decisions of the General Assembly and the Executive Board; representing the Association in various meetings/panels, drafting policies/strategies and submit to the Executive Board for assessment and ratification by the General Assembly; paving different ways for generating and maximizing the income capacities of Association, etc.</li>
                </ul>
                <h4>What are the types of EVA Membership?</h4>
                <section>
                    <h3 class="h3_title">1.Regular members</h3>
                    <ul>
                        <li>Including founding members and members admitted by the general assembly</li>
                        <li>Any Ethiopian fulfilling the following criteria will be taken as member</li>
                        <li>A locally registered veterinarian who has completed education</li>
                        <li>Accepting the association’s objectives and goals</li>
                        <li>Aged above 20 years</li>
                        <li>Complies with the article of association and the general assembly decisions</li>
                        <li>Able to pay contribution fees decided by the general assembly</li>
                        <li>Not legally prohibited</li>
                    </ul>
                    <h3 class="h3_title">2.Cooperative member</h3>
                    <ul>
                        <li>An apprentice and a veterinarian candidate</li>
                        <li>Professionals who are operating the veterinary and related activities such activities approved by the management board to meet the objectives of the association.</li>
                        <li>The supporting organizations can be cooperating members</li>
                    </ul>
                    <h3 class="h3_title">3.Life time member</h3>
                    <ul>
                        <li>Any regular member of the association will be a life time member by advance payment of twenty years membership contribution fees.</li>
                        <li>A life time member is not expected to pay the annual contribution fees and can exercise in his/her life time the entitlements of the membership.</li>
                    </ul>
                    <ul>
                        <li>Those who contributed to the success of the association without being member and those who are engaged with the association becoming role models in succeeding in good performances and become members in accordance with the decisions of the general assembly.</li>
                        <li>The honorary members have no right to vote and to be contenders.</li>
                        <li>Unless with self-motion, they are not obliged to pay for the contribution and other fees.</li>
                    </ul>

                </section>
                <h4>What are the Membership requirements?</h4>
                <ul>
                    <li>Filling the membership form;</li>
                    <li>Pay membership fees;</li>
                    <li>Obey the Bylaw of the association;</li>
                    <li>Being accepted and approved as a member by the general assembly of the association;</li>
                </ul>
                <h4> How much is the membership fee? And In what way can I issue the payment?</h4>
                <ul>
                    <li><b>Regular members</b>, when they register for the first time will be required to pay 350 ETB, and later will be required to pay an annual contribution of 300 ETB.</li>
                    <li>The annual membership fee for organizational cooperative members is Birr 2000.00. Individual cooperative members need to pay 300 ETB.</li>
                    <li>The honorary members are not forced to pay membership fee</li>
                </ul>
                <h4>Ways of payment</h4>
                <p>Members can transfer their membership fees to the association’s bank account:</p>
                <ul>
                    <li> <b>Bank Name</b>: Commercial Bank of Ethiopia (CBE)</li>
                    <li><b>Bank Country and City</b>: Addis Ababa, Ethiopia</li>
                    <li> <b>Bank Branch Address</b>: Addis Ababa Cape Verde Street</li>
                    <li><b>Swift Code</b>: CBETATAA</li>
                    <li><b>Account Number</b>: 1000050555333</li>
                    <li><b>Exact Bank Account Holder’s Name</b>: Ethiopian Veterinary Association</li>
                    <li><b>Account Currency</b>: ET</li>
                </ul>
                <p><b>Or payment could be made at the Association’s Secretariat Office</b></p>
                <h4>What rights and benefits are granted to an EVA member?</h4>
                <ul>
                    <h3 class="h3_title">Rights of members</h3>
                    <li>All regular members have equal rights</li>
                    <li>Membership is private and cannot be transferred to heirs</li>
                    <li>Any regular member of the association has right to</li>
                    <li>Carry out any activities complying to the objectives and missions of the association</li>
                    <li>Vote, voted and get any information about the association on request</li>
                    <li>Participate in the general assembly meetings and comment on the operations of the association and to vote</li>
                    <li>Any member before decision of termination from the association has right to consult the executive board</li>
                    <li>Get all the benefits and rights from the association</li>
                    <li>Members shall have the right to get the desired information from EVA, regarding the programs, strategies, periodic events, tenders and other affairs associated to the role of the association;</li>
                    <h3 class="h3_title">Obligations of members</h3>
                    <li>Any member shall pay contribution fees on time</li>
                    <li>Before terminating membership, any member should clear all debts due to him/her</li>
                    <li>Any member must comply with by-laws of the association and directives of the general assembly</li>
                    <li>Any member must respect the objectives and obligations of the association and take care of the properties of the association, and render services expected of him/her</li>
                    <li>Any member must participate in regular and emergency meetings of the association</li>
                </ul>
            </div>
            <div class="sidebar">
                <ul>
                    <li><a href="#background" target="_top">partners</a></li>
                    <li><a href="#">Stakeholders</a></li>
                    <li><a href="#" target="_blank">Institutes</a></li>
                </ul>
            </div>
        </div>


        
    </div>
    <!--Footer-->
    <%- include('./partials/footer.ejs');%>
</body>
</html>