<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div id="image_slider">
                    <div class="navigation-buttons">
                        <img class="slider-img" src="/images/conf36-web.jpg" alt="" srcset="">

                    </div>

                    <h3 class="section_header">MESSAGE FROM THE PRESIDENT</h3>
                    <div class="presedants_msg">
                        <div class="presedent_img">
                            <img class="Prs_img" src="/images/EVA_Logo.jpg" alt="" srcset="">
                            <p class="justify_center">Dr.Bojia Endebu </p>
                            <p>President, Ethiopian Veterinary Association</p>
                        </div>
                        <div class="pmessage">
                            <p>
                                The Ethiopian Veterinary Association (EVA) is a pioneer, membership based professional
                                association established in the year 1974 through the initiation of thirteen visionary
                                veterinarian; now it has almost around 2000 members. The association has a national
                                mandate
                                of promoting and strengthening the veterinary profession, respect professional ethics
                                and
                                code of conduct and above all to safe guard the right of veterinarians. Moreover, the
                                association has been contributing to the emergence of efficient, effective and
                                competitive
                                livestock industry in Ethiopia. It is dedicated to policy advocacy, development,
                                promotion,
                                and dissemination of knowledge and good practices in the livestock sector and serving
                                the
                                interest of the society.
                            </p>

                            <p>Thank you for visiting Our Website!</p>
                        </div>
                    </div>
                    <h3 class="section_header">ABOUT US</h3>
                    <div class="about_card">
                        <div>
                            <h4>Who we are</h4>
                            <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                membership organization based in Ethiopia, established on june 22,1974 through the
                                initaitive of 13 visionary veterinarians <a href="http://">Read more...</a>
                            </p>
                        </div>
                        <div>
                            <h4>What we do</h4>
                            <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                membership organization based in Ethiopia, established on june 22,1974 through the
                                initaitive of 13 visionary veterinarians <a href="http://">Read more...</a>
                            </p>
                        </div>
                        <div>
                            <h4>Our Profession</h4>
                            <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                membership organization based in Ethiopia, established on june 22,1974 through the
                                initaitive of 13 visionary veterinarians <a href="#">Read more...</a>
                            </p>
                        </div>
                    </div>
                    <p class="temp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vel tempora et
                        maxime corporis sapiente pariatur soluta impedit nulla fugit ipsam dolore commodi minima,
                        exercitationem a veritatis vero inventore dolores?</p>

                    <p class="temp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit nostrum
                        maxime dolore, ipsum molestiae eligendi aspernatur? Delectus necessitatibus ipsum officiis culpa
                        deserunt, nulla distinctio saepe repellat hic doloremque, repudiandae natus. </p>
                </div>
                <!--Footer-->
                <%- include('./partials/footer.ejs');%>
    </body>

</html>