<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>
<body>
    <!--nav-->
    <%- include('./partials/nav.ejs');%>
    <!--Content-->
    <div class="content">
        <h2>HomePage</h2>

<p class="temp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga ipsam, ipsa distinctio impedit officiis officia debitis quaerat consequatur architecto optio velit odit praesentium, accusamus veritatis corrupti maxime deleniti magni quod.</p>
 
<p class="temp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur reprehenderit corporis hic enim quia qui eos reiciendis explicabo tempora, doloribus mollitia ex. Quia sit eum debitis ducimus aut optio quis!</p>
   
<p class="temp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vel tempora et maxime corporis sapiente pariatur soluta impedit nulla fugit ipsam dolore commodi minima, exercitationem a veritatis vero inventore dolores?</p>

<p class="temp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit nostrum maxime dolore, ipsum molestiae eligendi aspernatur? Delectus necessitatibus ipsum officiis culpa deserunt, nulla distinctio saepe repellat hic doloremque, repudiandae natus.    </p>
</div>
    <!--Footer-->
    <%- include('./partials/footer.ejs');%>
</body>
</html>