<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <%- include('./partials/carousel.ejs');%>

                    <section id="President-message">
                        <h3>MESSAGE FROM THE PRESIDENT</h3>
                        <div class="president-msg grid">
                            <img src="/assets/images/bojia-min.jpg" alt="image of the president" srcset="">
                            <p>Dr.Bojia Endebu </p>
                            <p>President, Ethiopian Veterinary Association</p>

                            <p>
                                The Ethiopian Veterinary Association (EVA) is a pioneer, membership based professional
                                association established in the year 1974 through the initiation of thirteen visionary
                                veterinarian; now it has almost around 2000 members. The association has a national
                                mandate of promoting and strengthening the veterinary profession, respect professional
                                ethics
                                and code of conduct and above all to safe guard the right of veterinarians. Moreover,
                                the
                                association has been contributing to the emergence of efficient, effective and
                                competitive livestock industry in Ethiopia. It is dedicated to policy advocacy,
                                development,
                                promotion, and dissemination of knowledge and good practices in the livestock sector and
                                serving
                                the interest of the society.
                            <p> &nbsp;</p>
                            <p>Thank you for visiting Our Website!</p>
                            </p>
                        </div>
                    </section>

                    <section id="about">
                        <h3>ABOUT US</h3>
                        <div class="about-us grid">
                            <a href="">
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Who we are</h4>
                                <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                    membership organization based in Ethiopia, established on june 22,1974 through the
                                    initaitive of 13 visionary veterinarians <span> <a class="read-more" href="#">Read
                                            more...</a></span>
                                </p>
                            </a>
                            <a href="">
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>What We Do</h4>
                                <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                    membership organization based in Ethiopia, established on june 22,1974 through the
                                    initaitive of 13 visionary veterinarians <span> <a class="read-more" href="#">Read
                                            more...</a></span>
                                </p>
                            </a>
                            <a href="">
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Our Structure</h4>
                                <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                    membership organization based in Ethiopia, established on june 22,1974 through the
                                    initaitive of 13 visionary veterinarians <span> <a class="read-more" href="#">Read
                                            more...</a></span>
                                </p>
                            </a>
                        </div>
                    </section>

                    <section id="news">
                        <h3>LATEST NEWS</h3>
                        <div class="news grid">
                            <a href="">
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Who we are</h4>
                                <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                    membership organization based in Ethiopia, established on june 22,1974 through the
                                    initaitive of 13 visionary veterinarians <span> <a class="read-more" href="#">Read
                                            more...</a></span>
                                </p>
                            </a>
                            <a href="">
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>What We Do</h4>
                                <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                    membership organization based in Ethiopia, established on june 22,1974 through the
                                    initaitive of 13 visionary veterinarians <span> <a class="read-more" href="#">Read
                                            more...</a></span>
                                </p>
                            </a>
                            <a href="">
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Our Structure</h4>
                                <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit professional
                                    membership organization based in Ethiopia, established on june 22,1974 through the
                                    initaitive of 13 visionary veterinarians <span> <a class="read-more" href="#">Read
                                            more...</a></span>
                                </p>
                            </a>
                        </div>
                    </section>

                    <section id="journals">
                        <h3>JOURNALS</h3>
                        <ul class="grid">
                            <li>
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Volume #1</h4>
                            </li>
                            <li>
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Volume #2</h4>
                            </li>
                            <li>
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Volume #3</h4>
                            </li>
                            <li>
                                <img class="card-icon" src="/assets/images/about.png" alt=" about us">
                                <h4>Volume #4</h4>
                            </li>
                        </ul>
                    </section>
                    <section id="partners">
                        <p>Partners logo slideshow</p>
                    </section>


            </div>









            <!--Footer-->
            <%- include('./partials/footer.ejs');%>

                <script src="/scripts/main.js"></script>
    </body>

</html>