<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <%- include('./partials/carousel.ejs');%>
                
                    <section id="President-message">
                        <h3 class="section_header">MESSAGE FROM THE PRESIDENT</h3>
                        <div class="president-msg grid">
                            <div class="president-img">
                                <img src="/assets/images/bojia.jpg" alt="image of the president" srcset="">
                                <p><b>Dr.Bojia Endebu</b> </p>
                                <p>President, Ethiopian Veterinary Association</p>
                            </div>
                            <div class="president-m">
                                <p>Hello everyone, </p>
                                <p>
                                    On behalf of the executive team and myself, I am very grateful to every EVA family for giving us the opportunity to lead EVA at this juncture. It has always been a privilege and honor to contribute to EVA’s good cause.  EVA is one the largest professional associations in the country with a dedicated secretarial office and a vibrant committed staff. EVA is the oldest constituent member of the Word Veterinary Association (WVA).  
                                </p>

                                <p>
                                    We recognize EVA’s immense role in the development and safeguarding of the veterinary profession including veterinary governance, veterinary science, education, and services in Ethiopia. We are taking on the leadership of EVA at such a time full of opportunities, but also challenges. It is a time when the government of Ethiopia has given attention to transforming the livestock sector in a way to boost its national economy. As it is ever said, if we together turn these challenges into opportunities, we can accelerate the impact of EVA and its members on the development of our profession and serve the public good. 
                                <p>Well, moving forward, the very first message I start with is by acknowledging the need for a veterinary statutory body (VSB) or veterinary council in transforming the quality and hence impact of our profession.  Despite its huge livestock resources, Ethiopia is one of the few countries in the world with no clear animal health governance system. We do not have VSB or its equivalent.  The World Organization for Animal Health (WOAH) advised member countries, including Ethiopia, to establish VSB decades ago.  The lack of this regulatory body resulted in fragmented and poor veterinary education and practices across the country.  We are repeatedly rated low in our PVS performance negatively impacting our livestock trade. At such a time when we plan to privatize vet services, more than anything we need a strong veterinary governance to advance our profession and better serve our community. </p>
                                  <p>We also recognize that the veterinary education system in Ethiopia is at a crossroads. Although both DVM and BVSc education systems are perfect in their own right, producing both in one country has become a challenge for the industry. EVA is making an urgent call to dissolve the dichotomy and transform our education system to produce the required competent labour force. We created the problem, and therefore, we are expected to find a solution by working with relevant stakeholders. </p>  
                                <p>The next immediate challenge is how to build EVA even better. We have the academia, research, and diagnostics wing from whom much is expected to pave the way. We have the regulatory and service providers (both public and private) who make up the largest body of EVA and are the professional face in society. We also recognize members who serve in the development arena in the country and overseas.  Last, but not least, are the next generations of professionals, veterinary students. I believe a passion for professional value is conceived and born while at school. EVA plans to embrace vet students before the passion wanes away. We need to bridge the core values and essence of the vet profession by playing as a role model in academia, research, leadership, and quality service.  The strength and effectiveness of any professional association are largely a reflection of its members from studentship to professional front. The success of EVA and its members relies on the effectiveness of each of these EVA organs, and the failure of any of these ruins the image of our profession. As the country develops, veterinary services are expected to transform accommodating global trends of specializations in diverse disciplines (diary practice, small animal practice, equine practice, poultry etc) whose unity in diversity showcases the spectrum and beauty of services we render to our community. </p>
                                <p>The EVA diaspora community has had a significant share in building the image of our profession. One of the immediate engagement areas would be transforming our education and research dimension from informing problems to providing an alternative solution and thus influencing policy. I wish to see the Alumni contribute to the growth of EVJ journal both in its quality and scope to specialize in diverse streams such as diary practice, small animal practice, poultry, equine practice, animal welfare, etc. In doing so we not only create an enabling environment for younger generations but also pave a way for the growth and impact of the profession.  EVA will continue to play an essential role as a networking hub for intra and cross-university Alumni to position the role of EVA in the development of veterinary science, education, and quality services. </p>
                                 <p>We recognize that the 21st century demands fostering collaboration – seeking interdisciplinary multi-stakeholder engagements for lasting solutions. EVA finds its niche at the interface between biomedical sciences and agricultural sciences. The essence of veterinary medicine ranges from ensuring the biosecurity of animal agriculture to public health. In this regard, EVA and its members believe in One Health approaches and are actively engaged in promoting the development and implementation of One Health initiatives on a national and global stage. </p> 
                                <p>As we take the stage, we pay tribute to the immense role of our professional fathers in their unreserved commitment to developing EVA and serving our society. It is not the community you come from, the languages you speak, the schools you have been to, or the stages you serve, what matters most to communities, is the quality of services you humbly offer and the difference it makes that qualifies you as a professional front. For the genuine development of our profession, it is my kind request that you are good at what you are, and possibly excel.</p>
                                <p>Moving forward, we dedicated this year’s annual conference to recognizing and nurturing our professional niches, with the theme of Unlocking the Livestock Potential of Ethiopia: mapping the Role of Animal Health and Welfare within the Framework of the livestock value chain. Joining the dots of education, research, innovation, and services of our members we continue to build our visibility and advance the impact of our profession in Ethiopia’s development. </p> 
                                <p>We are building an interactive platform through our websites for our members to meet each other and with us. </p>
                                <p> &nbsp;</p>
                                <p>Thank you for visiting Our Website!</p>
                                
                                <p>Bojia E Duguma</p>
                                <p>2023</p>
                                

                            </div>
                        </div>
                    </section>

                    <section id="about">
                        <h3 class="section_header">ABOUT US</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a href="/about">
                                         <i class="card-fa fa-solid fa-people-group"></i>
                                        <h4>WHO WE ARE</h4>
                                    
                                    <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit
                                        professional membership organization based in Ethiopia, established on june
                                        22,1974 through the initaitive of 13 visionary veterinarians <span> <a
                                                class="read-more" href="/about">Read more...</a></span>
                                    </p>
                                </a>
                            </div>
                          
                            <div class="card">
                                <a href="/about">
                                    <i class="card-fa fa-solid fa-briefcase"></i>
                                    <h4>WHAT WE DO</h4>
                                
                                    <p>  We strive to protect the rights and Interest of veterinarians, advocate policies, develop, promote and disseminate knowledge and good practice in order to produce competitive and quality breed of Livestock in Ethiopia 
                                        <span> <a class="read-more"  href="/about">Read more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="/about">
                                    <i class="card-fa fa-solid fa-user-doctor"></i>
                                    <h4>OUR PROFESSION</h4>
                                    <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit
                                        professional membership organization based in Ethiopia, established on june 22,1974 through
                                        the initaitive of 13 visionary veterinarians <span> <a class="read-more"
                                                href="/about">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </section>

                    <section id="news">
                        <h3 class="section_header">LATEST NEWS</h3>
                        <div class="cards grid">                            
                            <div class="card">
                                <a href="/news">
                                    <img class="news-card-img" src="/assets/news/HEARD-borena.jpg" alt="news">
                                    <h4>EVA-HEARD Project donation to drought hit areas</h4>
                                    <p>HEARD – is a European Union funded program designed to strengthen animal
                                        health services involving public <span> <a class="read-more" href="/news">Read
                                                more...</a></span> </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="/news">
                                    <img class="news-card-img" src="/assets/logos/oie.png" alt="news">
                                    <h4>OIE–World Animal Health Information System (WAHIS)</h4>
                                    <p>OIE-WAHIS (OIE World Animal Health Information System) is a unique
                                        comprehensive database <span> <a class="read-more" href="/news/#oie">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="/assets/news/expert.pdf" target="_blank">
                                    <img class="news-card-img" src="/assets/news/Externship-1-scaled.jpg" alt="news">
                                    <h4>የኤክስተርንሽፕ አበል ማስተካከያ</h4>
                                    <p>የእንስሳት ህክምና የስድስተኛ ዓመት ተማሪዎች ኤክስተርንሽፕ ፕሮግራም ተከፋዮች ለመስክ ሥራ ልምምድ ሲሰማሩ ለወር
                                        የተወሰነላቸው
                                        የክፍያ መጠን እነዲሻሻል የእትዮጵያ እንስሳት ሐኪሞች ማህበር በጠየቀው መሰረት ማሻሻያው ተቀባይነት አገኝቷል፡ <span> <a
                                                class="read-more" href="/assets/news/expert.pdf" target="_blank">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="buttons">
                                <a href="/news" class="button">MORE NEWS</a>
                            </div>
                        </div>
                    </section>

                    <section id="journals">
                        <h3 class="section_header">JOURNALS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a  href="/evj">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="/evj">Volume 27, No.2</a></h4>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="/evj">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="/evj">Volume 27, No.1</a></h4>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="/evj">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="https://eva-ethiopia.org/vol26no02/">Volume 26, No.2</a></h4>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="/evj">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="/evj">Volume 26, No.1</a></h4>
                                </a>
                            </div>

                        </div>
                        <div class="buttons">
                            <a href="/evj" class="button">MORE JOURNALS</a>
                            <a href="/evj" class="button">SUBMIT ARTICLE</a>
                        </div>
                    </section>

                    <section id="trainings">
                        <h3 class="section_header">TRAININGS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a  href="/training">
                                    <img class="card-icon" src="/assets/images/training.png" alt=" about us">
                                    <h4>Animal Health Management</h4>
                                    <p>Discription of the training<span> <a class="read-more" href="/training">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="/training">
                                    <img class="card-icon" src="/assets/images/training.png" alt=" about us">
                                    <h4>Biosecurity in animal farms</h4>
                                    <p>Discription of the training<span> <a class="read-more" href="/training">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="/training">
                                    <img class="card-icon" src="/assets/images/training.png" alt=" about us">
                                    <h4>Bovine reproduction</h4>
                                    <p>Discription of the training<span> <a class="read-more" href="/training">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="buttons">
                                <a href="/training" class="button">MORE TRAINING</a>
                            </div>
                        </div>
                    </section>

                    <section id="projects">
                        <h3 class="section_header">PROJECTS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a  href="/projects">
                                    <img class="news-card-img" src="/assets/news/HEArd.jpg" alt="news">
                                    <h4> HEARD PROJECT</h4>
                                    <p>HEARD – Health of Ethiopian Animals for Rural Development is program to
                                        strengthen animal health services involving public and private sectors.
                                        The HEARD program aims to increase sustainable livestock productivity and.
                                        <span> <a class="read-more" href="/projects">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="/projects">
                                    <img class="news-card-img" src="/assets/news/EVA-LVC-PPD-Logo.png" alt="news">
                                    <h4>LVC-PPD Project</h4>
                                    <p> The LVC-PPD Project was implemented to contribute to increased incomes of
                                        livestock-dependent households in Ethiopia to alleviate poverty in line with the
                                        Millennium Development <span> <a class="read-more" href="/projects">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            
                            <div class="buttons">
                                <a href="/projects" class="button">MORE PROJECTS</a>
                            </div>
                        </div>
                    </section>

                    <section id="partners">
                        <h3 class="section_header">OUR PARTNERS</h3>
                        
                        <div class="logos-slide">
                            <img src="/assets/logos/EU.png" alt="EU logo">
                            <img  src="/assets/logos/MoA.png" alt="MoA logo">
                            <img  src="/assets/logos/FAO.png" alt="FAO logo">
                            <img  src="/assets/logos/ilri.png" alt="Ilri logo">
                            <img  src="/assets/logos/zoetis.png" alt="Zoetis logo">
                            <img  src="/assets/logos/oie.png" alt="OIE logo">
                         </div>
                         <div class="logos-slide">
                            <img src="/assets/logos/EU.png" alt="EU logo">
                            <img  src="/assets/logos/MoA.png" alt="MoA logo">
                            <img  src="/assets/logos/FAO.png" alt="FAO logo">
                            <img  src="/assets/logos/ilri.png" alt="Ilri logo">
                            <img  src="/assets/logos/zoetis.png" alt="Zoetis logo">
                            <img  src="/assets/logos/oie.png" alt="OIE logo">
                         </div>
                        
                       
                    </section>
            </div>









            <!--Footer-->
            <%- include('./partials/footer.ejs');%>

                <script src="/scripts/main.js"></script>
    </body>

</html>