<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <%- include('./partials/carousel.ejs');%>
                
                    <section id="President-message">
                        <h3 class="section_header">MESSAGE FROM THE PRESIDENT</h3>
                        <div class="president-msg grid">
                            
                            <div class="president-img">
                                <img src="/assets/images/bojia.jpg" alt="image of the president" srcset="">
                                <p><b>Dr.Bojia Endebu</b> </p>
                                <p>President, Ethiopian Veterinary Association</p>
                            </div>
                            <div class="president-m">
                                <p>
                                    <span>&nbsp;</span> The Ethiopian Veterinary Association (EVA) is a
                                    pioneer, membership based professional association established in the year 1974
                                    through the initiation of thirteen
                                    visionary veterinarian; now it has almost around 2000 members. The association has a
                                    national
                                    mandate of promoting and strengthening the veterinary profession, respect
                                    professional ethics and code of conduct and above all to safe guard the right of
                                    veterinarians.
                                    Moreover, the association has been contributing to the emergence of efficient,
                                    effective and
                                    competitive livestock industry in Ethiopia. It is dedicated to policy advocacy,
                                    development, promotion, and dissemination of knowledge and good practices in the
                                    livestock sector
                                    and serving the interest of the society.
                                <p> &nbsp;</p>
                                <p>Thank you for visiting Our Website!</p>

                            </div>
                        </div>
                    </section>

                    <section id="about">
                        <h3 class="section_header">ABOUT US</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a href="">
                                         <i class="card-fa fa-solid fa-people-group"></i>
                                        <h4>WHO WE ARE</h4>
                                    
                                    <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit
                                        professional membership organization based in Ethiopia, established on june
                                        22,1974 through the initaitive of 13 visionary veterinarians <span> <a
                                                class="read-more" href="#">Read more...</a></span>
                                    </p>
                                </a>
                            </div>
                          
                            <div class="card">
                                <a href="">
                                    <i class="card-fa fa-solid fa-briefcase"></i>
                                    <h4>WHAT WE DO</h4>
                                
                                    <p>  We strive to protect the rights and Interest of veterinarians, advocate policies, develop, promote and disseminate knowledge and good practice in order to produce competitive and quality breed of Livestock in Ethiopia 
                                        <span> <a class="read-more"  href="#">Read more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="">
                                    <i class="card-fa fa-solid fa-user-doctor"></i>
                                    <h4>OUR PROFESSION</h4>
                                    <p>Ethiopian Veterinary Association(EVA) is an autonomous non-for-profit
                                        professional membership organization based in Ethiopia, established on june 22,1974 through
                                        the initaitive of 13 visionary veterinarians <span> <a class="read-more"
                                                href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </section>

                    <section id="news">
                        <h3 class="section_header">LATEST NEWS</h3>
                        <div class="cards grid">                            
                            <div class="card">
                                <a href="">
                                    <i class="card-fa fa-solid fa-newspaper"></i>
                                    <h4>EVA-HEARD Project donation to drought hit areas</h4>
                                    <p>HEARD – is a European Union funded program designed to strengthen animal
                                        health services involving public <span> <a class="read-more" href="#">Read
                                                more...</a></span> </p>

                                </a>
                            </div>
                            <div class="card">
                                <a href="">
                                    <img class="card-icon" src="/assets/images/news.png" alt=" about us">
                                    <h4>OIE–World Animal Health Information System (WAHIS)</h4>
                                    <p>OIE-WAHIS (OIE World Animal Health Information System) is a unique
                                        comprehensive database <span> <a class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="">
                                    <img class="card-icon" src="/assets/images/news.png" alt=" about us">
                                    <h4>የኤክስተርንሽፕ አበል ማስተካከያ</h4>
                                    <p>የእንስሳት ህክምና የስድስተኛ ዓመት ተማሪዎች ኤክስተርንሽፕ ፕሮግራም ተከፋዮች ለመስክ ሥራ ልምምድ ሲሰማሩ ለወር
                                        የተወሰነላቸው
                                        የክፍያ መጠን እነዲሻሻል የእትዮጵያ እንስሳት ሐኪሞች ማህበር በጠየቀው መሰረት ማሻሻያው ተቀባይነት አገኝቷል፡ <span> <a
                                                class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="buttons">
                                <a href="/news" class="button">MORE NEWS</a>
                            </div>
                        </div>
                    </section>

                    <section id="journals">
                        <h3 class="section_header">JOURNALS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="#">Volume 27, No.2</a></h4>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="#">Volume 27, No.1</a></h4>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="#">Volume 26, No.2</a></h4>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/journal.png" alt=" about us">
                                    <h4><a class="read-more" href="#">Volume 26, No.1</a></h4>
                                </a>
                            </div>

                        </div>
                        <div class="buttons">
                            <a href="/evj" class="button">MORE JOURNALS</a>
                            <a href="/evj" class="button">SUBMIT ARTICLE</a>
                        </div>
                    </section>

                    <section id="trainings">
                        <h3 class="section_header">TRAININGS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/training.png" alt=" about us">
                                    <h4>Animal Health Management</h4>
                                    <p>Discription of the training<span> <a class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/training.png" alt=" about us">
                                    <h4>Biosecurity in animal farms</h4>
                                    <p>Discription of the training<span> <a class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a  href="">
                                    <img class="card-icon" src="/assets/images/training.png" alt=" about us">
                                    <h4>Bovine reproduction</h4>
                                    <p>Discription of the training<span> <a class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="buttons">
                                <a href="/training" class="button">MORE TRAINING</a>
                            </div>
                        </div>
                    </section>

                    <section id="projects">
                        <h3 class="section_header">PROJECTS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a  href="">
                                    <i class="card-fa fa-solid fa-tv"></i>
                                    <h4> HEARD PROJECT</h4>
                                    <p>HEARD – Health of Ethiopian Animals for Rural Development is program to
                                        strengthen animal health services involving public and private sectors.
                                        The HEARD program aims to increase sustainable livestock productivity and.
                                        <span> <a class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            <div class="card">
                                <a href="">
                                    <img class="card-icon" src="/assets/images/news.png" alt=" about us">
                                    <h4>LVC-PPD Project</h4>
                                    <p> The LVC-PPD Project was implemented to contribute to increased incomes of
                                        livestock-dependent households in Ethiopia to alleviate poverty in line with the
                                        Millennium Development <span> <a class="read-more" href="#">Read
                                                more...</a></span>
                                    </p>
                                </a>
                            </div>
                            
                            <div class="buttons">
                                <a href="/projects" class="button">MORE PROJECTS</a>
                            </div>
                        </div>
                    </section>

                    <section id="partners">
                        <h3 class="section_header">OUR PARTNERS</h3>
                        <div class="cards grid">
                            <div class="card">
                                <a class="card" href="">
                                    <img class="card-icon" src="/assets/images/news.png" alt=" about us">
                                </a>
                            </div>
                            <div class="card">
                                <a class="card" href="">
                                    <img class="card-icon" src="/assets/images/news.png" alt=" about us">
                                </a>
                            </div>
                            <div class="card">
                                <a class="card" href="">
                                    <img class="card-icon" src="/assets/images/news.png" alt=" about us">
                                </a>
                                
                            </div>
                            <div class="card">
                                <p>Slide of partners logo</p>
                            </div>

                        </div>
                    </section>
            </div>









            <!--Footer-->
            <%- include('./partials/footer.ejs');%>

                <script src="/scripts/main.js"></script>
    </body>

</html>