<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>MANUSCRIPT SUBMISSION FORM</h2>
                    <ul class="temp-menu">
                        <li><a class="link" href="#">Home</a></li>
                        <li><a class="link" href="#">About EVJ</a></li>
                        <li><a class="link" href="#">Explore Journals</a></li>
                        <li><a class="link" href="#">Submit Manuscript</a></li>
                        <li><a class="link" href="#">Register</a></li>
                        <li><a class="link" href="#">login</a></li>
                    </ul>
                </div>
                <div class="sticky-container">
                    <div class="main">

                        <h4 id="overview">Overview</h4>
                        <section>
                            <p>
                                <img src="/assets/images/evj.jpg" alt="" srcset="">
                            </p>
                        </section>
                        <h4 id="aim">Aims and scope</h4>
                        <section>
                            <p>EVJ Journal is an open access,peer-reviewed journal that considers and publishes articles
                                on all aspects of animal health, governance,health policy,health system,
                                quality and selfty, animal healthcare delivery, access to health care,
                                healthcare financing and economics,implementing reform, and health workforce and related
                                research works that addresses the Countries need. </p>
                        </section>
                        <h4 id="articles"> Articles(like browser tab)</h4>
                        <section>
                            <ul class="temp-menu">
                                <li><a class="link" href="#"><U>Recent</U></a></li>
                                <li><a class="link" href="#">Most Accessed</a></li>
                                <li><a class="link" href="#">Latest Collection</a></li>
                            </ul>
                            <p>Municipal Health care professionals' interprofessionals collaborations during older
                                patients' transitions
                                in municipal health care services:a qualitative study
                            </p>
                            <div class="buttons"> <a href="/archive" class="button">View all Articles</a></div>
                        </section>

                        <h4 id="contact">contact us(as a footer)</h4>
                        <p>Submission Enquiries: <a class="link" href="#">evj-articles@evj.com</a></p>
                        <p>General Enquiries: <a class="link" href="#">evj_support@evj.com</a></p>

                        <h4>Login</h4>
                        <section>
                            <form id="login" action="" method="post">
                                <label class="label" for="log-as">Sign in as</label>
                                <select class="dropdown" name="log-as" id="log-as">
                                    <option value="Author">Author</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Reviewer">Reviewer</option>

                                </select>
                                <label class="label" for="userName">User Name <span>*</span></label>
                                <input id="userName" type="text">
                                <label class="label" for="email">Email<span>*</span></label>
                                <input id="email" type="email">
                                <label class="label" for="password">Password<span>*</span></label>
                                <input id="password" type="password">
                                
                                <a href="/archive" class="button">Login</a>
                                <p>You don't have an account <a class="link" href="#">Sign up here</a></p>
                            </form>

                           
                        </section>

                        <h4>Create Account or Registration</h4>
                        <section>
                            <form id="login" action="" method="post">
                                <p>To register to use the Editorial Manager system, please enter the requested information.
                                    Required fields have an astrix(*) next to the label. Upon successful registration, 
                                    you will be sent an email with instructions to verify registration.
                                </p>
                                <label class="label" for="log-as">Sign in as</label>
                                <select class="dropdown" name="log-as" id="log-as">
                                    <option value="Author">Author</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Reviewer">Reviewer</option>

                                </select>
                                <label class="label" for="userName">User Name <span>*</span></label>
                                <input id="userName" type="text">
                                <label class="label" for="email">Email<span>*</span></label>
                                <input id="email" type="email">
                                <label class="label" for="password">Password<span>*</span></label>
                                <input id="password" type="password">
                                
                                <a href="/archive" class="button">Login</a>
                                <p>You don't have an account <a class="link" href="#">Sign up here</a></p>
                            </form>

                           
                        </section>


                    </div>
                    <div class="sidebar">
                        <img src="/assets/images/evj.jpg" alt="evj">
                        <ul>
                            <li><a href="#overview" target="_top">Overview</a></li>
                            <li><a href="#aim">Aims and scope</a></li>
                            <li><a href="#articles">Articles</a></li>
                            <li><a href="#journal-volumes">Journal Volumes</a></li>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="#editorial">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <a href="/manuscript" class="button">Submit Manuscript</a>
                        </ul>


                    </div>
                </div>


            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>