<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>Ethiopian Veterinary Association Members Registration</h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4 id="conditions">GENERAL CONDITIONS</h4>
                        <section>
                            <p>
                                &nbsp; According to Article 6 of EVA by-law, the association has the following types of
                                membership
                            </p>
                            <h3 class="bold">1. Regular members</h3>
                            <ul>
                                <li>Including founding members and members admitted by the general assembly</li>
                                <li>A locally registered veterinarian who has completed education</li>
                                <li>Accepting the association’s objectives and goals</li>
                                <li>Aged above 20 years</li>
                                <li>Complies with the article of association and the general assembly decisions</li>
                                <li>Able to pay contribution fees decided by the general assembly</li>
                                <li>Not legally prohibited</li>
                                <li>Annual membership fee is 300 ETB. Members registering for the first time will be
                                    required to pay 350 ETB (50 Birr registration and 300 Birr Annual Membership Fee)
                                </li>
                            </ul>
                            <p></p>
                            <h3 class="bold">2. Cooperative member</h3>
                            <ul>
                                <li>An apprentice and a veterinarian candidate</li>
                                <li>Professionals who are operating the veterinary and related activities such
                                    activities approved by the management board to meet the objectives of the
                                    association.</li>
                                <li>The supporting organizations can be cooperating members Annual membership fee: 2000
                                    Birr</li>
                            </ul>
                            <p></p>
                            <h3 class="bold">3. Life time member</h3>
                            <ul>
                                <li>Any regular member of the association will be a life time member by advance payment
                                    of twenty years membership contribution fees.</li>
                                <li>A life time member is not expected to pay the annual contribution fees and can
                                    exercise in his/her life time the entitlements of the membership.</li>
                            </ul>
                            <p></p>
                            <h3 class="bold">4. Honorary members</h3>
                            <ul>
                                <li>Those who contributed to the success of the association without being member and
                                    those who are engaged with the association becoming role models in succeeding in
                                    good performances and become members in accordance with the decisions of the general
                                    assembly.</li>
                                <li>The honorary members have no right to vote and to be contenders.</li>
                                <li>Unless with self-motion, they are not obliged to pay for the contribution and other
                                    fees.</li>
                            </ul>
                        </section>

                        <h4 id="instructions">INSTRUCTIONS</h4>
                        <section>
                            <h3 class="bold"> 1) For Regular members</h3>
                            <p>
                                For professionals interested to join EVA, kindly fulfill the following document before
                                progressing in filling out the form.
                            </p>
                            <ol class="numbered-list">
                                <li>Make ready scanned copy of your temporary degree – in PDF format</li>
                                <li>Scanned recent photograph (Passport size preferable) – attach in JPEG format</li>
                                <li>Scanned registration fee receipt or if you are using mobile banking, the transaction Number. Please note that, for new regular members the registration fee is 350 ETB (50 Birr registration and 300 Birr Annual Membership Fee), and the yearly membership fee is 300 ETB.</li>
                            </ol>
                            <h3 class="bold">2) Cooperative Members</h3>
                            <p>For organizations wishing to become members of EVA, kindly make sure that you have fulfilled the following document before progressing in filling out the registration form.</p>
                            <ol class="numbered-list">
                                <li>Make ready scanned copy of your organization’s License / certificate – in PDF format</li>
                                <li>Scanned registration fee receipt or if you are using the mobile banking, the transaction Number.</li>
                            </ol>
                            <em class="note">Please note that, for new corporate members the registration fee is 2,000 ETB. Yearly membership fee is also 2,000 ETB.</em>
                        </section>

                        <h4 id="bank-account">Bank Account Information</h4>
                        <section>
                            <p>
                                For all members please forward your membership to the following bank account of Ethiopian Veterinary Association:
                            </p>
                            <i>  <em>Bank Name</em>: Commercial Bank of Ethiopia (CBE)</i> <br>
                            <i> <em>Bank Country and City</em> : Addis Ababa, Ethiopia</i><br>
                            <i> <em>Bank Branch Address</em> : Addis Ababa, Cape Verde  Street</i><br>
                            <i> <em>Swift Code</em> : CBETATAA</i><br>
                            <i> <em>Account Number</em> : 1000050555333</i><br>
                            <i>  <em>Account Holder’s Name</em>:  Ethiopian Veterinary Association</i>

                        </section>
                        <h4 id="contact-info">For more information, you may reach us through:</h4>
                        <section>
                            <p>
                                <li><em>Phone Number</em>: </li>
                                <ul>
                                    <li>Tel 1: (+251)15 525020</li>
                                    <li> Tel 2: (+251) 18 697868</li>
                                </ul>
                                 
                                <li><em>E-mail </em>:
                                    <a href="" class="link">ethiopianveterinaryassociation@gmail.com</a> </li>
                            </p>

                        </section>
                        <h4 id="register">Registration</h4>
                        <p>To register as EVA member please click the button below that indicate the catagory that interests you: </p>
                        <div class="btn-group">
                            <a href="/regular" class="btn">Regular Members Registration</a>
                            <a href="/cooperate" class="btn">Cooperative Members Registration</a>
                        </div>
                    </div>
                    <div class="sidebar">

                        <ul>
                            <li><a href="#conditions" target="_top">General Conditions</a></li>
                            <li><a href="#instructions">Instructions</a></li>
                            <li><a href="#bank-account">Bank Account</a></li>
                            <li><a href="#contact-info">Contact information</a></li>
                            <li><a href="#register">Registration</a></li>
                            <li><a href="./regular">Regular Member </a></li>
                            <li><a href="/cooperate">Cooperative Member</a></li>

                        </ul>
                    </div>
                </div>

            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>