<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>CPD MODULES</h2>
                </div>
                <div class="container grid">
                    <div class="left-container">
                        <section id="about-cpd">
                            <h4 class="left">About EVA Trainings and CPD</h4>
                            <p> &nbsp; Aimed for the reinforcement of Veterinary Services across the Country,
                                as well as make the training modules accessable for every professional.
                            </p>
                            <p>Carefully curated in order to enable veterinary professionals to have the necessary know
                                how and
                                skills in maintaining the animal health with computence as well as ...
                            </p>
                            <div class="card3 grid">
                                <div class="card">
                                    <i class="fa-solid fa-laptop-medical card-fa"></i>
                                    <h4>Benefit 1 </h4>
                                    <p>
                                        Tailored training solutions for all EVA Members and Vet Professionals
                                    </p>
                                </div>
                                <div class="card">
                                    <i class="fa-solid fa-pen-nib card-fa"></i>
                                    <h4>Benefit 2 </h4>
                                    <p>
                                        Allow you to plan ahead and send the most appropriate persons to the proposed
                                        trainings (not yet operational).
                                    </p>
                                </div>
                                <div class="card">
                                    <i class="fa-solid fa-leaf card-fa"></i>
                                    <h4>Benefit 3 </h4>
                                    <p>
                                        To develop your skill set and exchange best practices
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section id="guide">
                            <h3 class="section_header">Guide</h3>
                            <div>
                                <h4 id="regular-members" class="left">1. For free Courses</h4>
                                <p>For Students and professionals interested to take particular course marked as "Free",
                                    should follow the following steps in order to enroll to the program.</p>
                                <ol class="numbered-list">
                                    <li>Click the "<span class="read-more">Read more...</span>" link to learn more about
                                        the course and requirements for the course </li>
                                    <li>Prepare necessary documents needed for the training, (if specified on the
                                        training requirment) </li>
                                    <li>Select the target trainig by clicking on the Enroll button and fill all the
                                        necessary
                                        fields on
                                        the Registration with appropriate information, and attach required documents if
                                        requested.
                                    </li>
                                    <li>When you complete filing all the form fields, you will be prompted with message
                                        confirming successful registration, In addition you will recieve email
                                        confirmation
                                        to the email you provided.
                                        <p>
                                            <em>Note, provide active and working contact address including phone
                                                number
                                                and email, becouse you will be contacted via this contact address
                                                through out
                                                the training period, so failing to provide the proper contact address is
                                                your
                                                own responsiplity, incase we are unable to reach you via the contact
                                                address you
                                                provided.</em>
                                        </p>
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <h4 id="regular-members" class="left">2. For Payed Training</h4>
                                <p>For Students and professionals interested to take particular course marked as
                                    "Payed", is expected to follow the following steps in order to enroll to the
                                    program.</p>
                                <ol class="numbered-list">
                                    <li>Click the "<span class="read-more">Read more...</span>" link to learn more about
                                        the course and requirements for the course</li>
                                    <li>Prepare necessary documents needed for the training, if specified on the
                                        training requirment </li>
                                    <li>Pay the specified amount for the course via bank account of "EVA Training
                                        Account" opened for this purpose only.
                                        And make ready the scanned copy of the reciept(screenshot of mobile transaction)
                                        wich will be needed during registration.
                                    </li>

                                    <li>Select the target Trainig by clicking on the "Enroll" button and fill the
                                        necessary
                                        fields on the Registration with appropriate information,
                                        Make sure to attach the the receipt that confirms the payment on indicated
                                        input-field appropriate
                                        which requests to attach payment reciept.
                                        <p>
                                            <em>Note, if the reciept is not recieved the enrollment process will NOT be
                                                completed</em>
                                        </p>
                                    </li>
                                    <li>When you complete filing all the form fields, you will be prompted with message
                                        confirming successful registration, In addition you will recieve email
                                        confirmation
                                        to the email you provided.
                                        <p>
                                            <em>Note, provide active and working contact address including phone
                                                number
                                                and email, becouse you will be contacted via this contact address
                                                through out
                                                the Training period, so failing to provide the proper contact address is
                                                your
                                                own responsiplity if you we unable to reach you via the contact address
                                                you
                                                provided.</em>
                                        </p>
                                    </li>
                                </ol>
                            </div>
                        </section>

                        <section id="bank-account">
                            <h4 class="left">For all Trainers and students, please forward your training Fee to the
                                following bank
                                account of Ethiopian Veterinary Association:</h4>
                            <ul>
                                <li> <b>Bank Name </b>: Commercial Bank of Ethiopia (CBE)</li>
                                <li> <b>Bank Country and City </b>: Addis Ababa, Ethiopia</li>
                                <li> <b>Bank Branch Address </b>: Addis Ababa, Cape Verde Street</li>
                                <li> <b>Swift Code </b>: CBETATAA</li>
                                <li> <b>Account Number </b>: 1000050555333</li>
                                <li> <b>Account Holder’s Name </b>: Ethiopian Veterinary Association</li>
                            </ul>
                        </section>
                        <section id="Courses">
                            <p></p>
                            <h4 class="section_header">Available Courses :</h4>
                            <div class="card4">

                                <div class="card-training">
                                    <img src="/assets/images/training.png" alt="training" srcset="">
                                    <h4>Public-private Partnership</h4>
                                    <p>This E-course is aimed for <span class="read-more">read more..</span></p>
                                    <a href="" class="button">Enroll</a>
                                </div>
                                <div class="card-training">
                                    <img src="/assets/images/training.png" alt="training" srcset="">
                                    <h4>Public-private Partnership</h4>
                                    <p>This E-course is aimed for <span class="read-more">read more..</span></p>
                                    <a href="" class="button">Enroll</a>
                                </div>
                                <div class="card-training">
                                    <img src="/assets/images/training.png" alt="training" srcset="">
                                    <h4>Public-private Partnership</h4>
                                    <p>This E-course is aimed for <span class="read-more">read more..</span></p>
                                    <a href="" class="button">Enroll</a>
                                </div>
                            </div>
                        </section>

                        <section class="cpd-modules">
                            <h3 class="section_header"> CPD Modules </h3>
                            <h4 class="left">Animal Health Management</h4>
                            <div class="card3">
                                <div class="card-module">
                                    <i class="fa-solid fa-file card-fa"></i>
                                    <h4>Cattle Health Management</h4>
                                    <p>Animal Health Management module contains three parts: Dairy and Beef Cattle
                                        Health Management
                                        Module; Small Ruminant Health Management Module and Poultry Health Management
                                        Module.
                                        <a href="/assets/CPD modules/Animal Health Management/Cattle Health Management.pdf"
                                            class="read-more" target="_blank">read more...</a>
                                    <p>
                                        <a class="download-btn button"
                                            href="/assets/CPD modules/Animal Health Management/Cattle Health Management.pdf"
                                            download>
                                            <i class="fa-solid fa-download"></i>
                                            Download PDF</i></a>
                                    </p>
                                </div>
                                <div class="card-module">
                                    <img src="/assets/images/training.png" alt="training" srcset="">
                                    <h4>Poultry Health Management</h4>
                                    <p>The poultry population of Ethiopia, composed solely of chickens, is estimated at
                                        59.5 million (CSA,
                                        2017). This number is very small in relation to
                                        <a href="/assets/CPD modules/Animal Health Management/Poultry health management.pdf"
                                            class="read-more" target="_blank">read more...</a>
                                    <p>
                                        <a class="download-btn button"
                                            href="/assets/CPD modules/Animal Health Management/Poultry health management.pdf"
                                            download>
                                            <i class="fa-solid fa-download"></i>
                                            Download PDF</i></a>
                                </div>
                                <div class="card-module">
                                    <i class="fa-solid fa-file card-fa"></i>
                                    <h4>Small Ruminant Health Management</h4>
                                    <p>In Ethiopia small ruminant production is an integral part of livelihood for mixed
                                        crop-livestock, agro-pastoral
                                        and pastoral production systems. The stocks in question have very indispensable
                                        role in
                                        <a href="/assets/CPD modules/Animal Health Management/Small ruminant health management.pdf"
                                            class="read-more" target="_blank">read more...</a>
                                    <p>
                                        <a class="download-btn button"
                                            href="/assets/CPD modules/Animal Health Management/Small ruminant health management.pdf"
                                            download>
                                            <i class="fa-solid fa-download"></i>
                                            Download PDF</i></a>
                                    </p>
                                </div>
                            </div>
                            <h4 class="left">Animal Health Management Monitoring</h4>
                            <p>Animal Health Management Framework-OIE compliant curricula
                                <a href="/assets/CPD modules/Animal Health Management monitoring/Animal Health Management Framework-OIE compliant curricula.DOCX"
                                    class="read-more" target="_blank"><i class="fa-solid fa-download"></i>download</a>
                            <p>
                            <div class="card3">
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 1</h3>
                                        </legend>
                                        <img class="card-image"
                                            src="/assets/CPD modules/Animal Health Management monitoring/Session 1/Activity 1 WHO UHC-infographic.jpg"
                                            alt="training" srcset="">
                                        <h4>Activity 1 </h4>
                                        <p>Activity 1 WHO_ Universal Health Coverage - What does it mean
                                            <video class="card-video" controls>
                                                <source
                                                    src="/assets/CPD modules/Animal Health Management monitoring/Session 1/Activity 1 WHO_  Universal Health Coverage - What does it mean.mp4"
                                                    type="video/mp4">
                                            </video>
                                        </p>
                                        <p>Session plan 1 Good healthcare systems
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 1/Session plan 1 Good healthcare systems.doc"
                                                class="read-more" target="_blank"><i
                                                    class="fa-solid fa-download"></i>download</a>
                                        <p>
                                            <a class="read-more"
                                                href="/assets/CPD modules/Animal Health Management monitoring/Session 1/Theory of Change Worksheet_NEW TOC Jan 2018.docx"
                                                target="_blank"> <i class="fa-solid fa-download"></i>Theory of Change
                                                Worksheet_NEW TOC Jan 2018</a>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Animal Health Management monitoring/Session 1/Theory of Change Worksheet_NEW TOC Jan 2018.docx"
                                                download>
                                                <i class="fa-solid fa-download"></i>
                                                Download
                                            </a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 2</h3>
                                        </legend>
                                        <p>Session plan 2 what makes a good HC professional :
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 2/Session plan 2 what makes a good HC professional.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 3</h3>
                                        </legend>
                                        <p>Session plan 3a - Healthcare mentoring
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 3/Session plan 3a - Healthcare mentoring.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <p>Or Watch the following short video</p>
                                        <video class="card-video" controls>
                                            <source
                                                src="/assets/CPD modules/Animal Health Management monitoring/Session 3/Session 3a - Video Bad Coach vs. Good Coach Scene.mp4"
                                                type="video/mp4">
                                        </video>

                                        <p>Session plan 3b - Introduction to AHMF
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 3/Session plan 3b - Introduction to AHMF.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>

                                        <p>Session plan 3c - Feedback
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 3/Session plan 3c - Feedback.docx"
                                                class="read-more" target="_blank"><i
                                                    class="fa-solid fa-download"></i>download</a>
                                        </p>

                                        <p>Or Watch the following short video</p>
                                        <video class="card-video" controls>
                                            <source
                                                src="/assets/CPD modules/Animal Health Management monitoring/Session 3/Session 3c - One Minute Preceptor.mp4"
                                                type="video/mp4">
                                        </video>
                                        <p>
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 3/Session plan 3c - Feedback.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                Session 3c - Paper aeroplane challenge
                                            </a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 4</h3>
                                        </legend>
                                        <p>Session plan 4 The WBA rubric
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 4/Session plan 4 The WBA rubric.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <p>Activity 4 worksheet
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 4/Activity 4 worksheet.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <p>Flash cards for Activity 4
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 4/Flash cards for Activity 4.pptx"
                                                class="read-more" target="_blank"><i
                                                    class="fa-solid fa-download"></i>download </a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 5</h3>
                                        </legend>
                                        <p>Session Plan - 5A use AHMF in the field (practical)
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 5/Session Plan - 5A use AHMF in the field (practical).docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <p>Session plan - 5B Use of AHMF in the field (classroom)
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 5/Session plan - 5B Use of AHMF in the field (classroom).doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <p>Activity 5b flashcards - Critical interventions
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 5/Activity 5b flashcards - Critical interventions.pptx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <p>Session 5b - Mentors intervention worksheet :
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 5/Session 5b - Mentors intervention worksheet.pptx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 6</h3>
                                        </legend>
                                        <p>Session plan 6 Standardisation
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 6/Session plan 6 Standardisation.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>

                                        <p>Session 6 - BLUNDER CARDS
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 6/Session 6 - BLUNDER CARDS.pptx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>

                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 7</h3>
                                        </legend>
                                        <p>Session plan 7 - AHMF in action with an AHP
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 7/Session plan 7 - AHMF in action with an AHP.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 8</h3>
                                        </legend>

                                        <p>Session plan 8 Individual training needs and resources
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Session plan 8 Individual training needs and resources.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>
                                        <h4>Activities</h4>
                                        <p>Activity sheet for activity 8
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Activity sheet for activity 8.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>
                                        <p>Activity 8 individual training needs case 1 discussion guidelines
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Activity 8 individual training needs case 1 discussion guidelines.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <ul>
                                            <li>Case 1 rubric(PDF)
                                                <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Case 1 rubric.pdf"
                                                    class="read-more" target="_blank"><i
                                                        class="fa-solid fa-download"></i> download </a>
                                            </li>
                                        </ul>

                                        <p>Activity 8 individual training needs case 2 guidance
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Activity 8 individual training needs case 2 guidance.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <ul>
                                            <li>Case 2 rubric
                                                <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Case 2 rubric.pdf"
                                                    class="read-more" target="_blank"> <i
                                                        class="fa-solid fa-download"></i> download </a>
                                            </li>
                                        </ul>
                                        <p>Activity 8 individual training needs case 3 discussion guidelines
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Activity 8 individual training needs case 3 discussion guidelines.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download </a>
                                        </p>
                                        <ul>
                                            <li>Case 3 rubric
                                                <a href="/assets/CPD modules/Animal Health Management monitoring/Session 8/Case 3 rubric.pdf"
                                                    class="read-more" target="_blank"> <i
                                                        class="fa-solid fa-download"></i> download </a>
                                            </li>
                                        </ul>



                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season">Session 9</h3>
                                        </legend>

                                        <p>Activity 9 worksheet
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 9/Activity 9 worksheet.docx"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>
                                        <p>Session 9 - Using the results for programmatic decisions
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 9/Session 9 - Using the results for programmatic decisions.doc"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>
                                        <p>Session 9 Real life examples from Brooke’s work
                                            <a href="/assets/CPD modules/Animal Health Management monitoring/Session 9/missing"
                                                class="read-more" target="_blank"><i class="fa-solid fa-download"></i>
                                                download</a>
                                        </p>
                                    </fieldset>
                                </div>

                            </div>
                            <h4 class="left">More modules</h4>
                            <div class="card3">
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>AMU & AMR_CPD</h4>
                                        <p>This module introduces how antimicrobials should be prudently used and how
                                            microorganisms
                                            develop resistance against antimicrobials.<a
                                                href="/assets/CPD modules/AMU & AMR_CPD Module.pdf" class="read-more"
                                                target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/AMU & AMR_CPD Module.pdf" download><i
                                                    class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Biosecurity in Animal Farms</h4>
                                        <p>Biosecurity is a major component of livestock production systems to maintain
                                            food safety and security, protect the
                                            environment, and facilitate continuity of farm business by protecting
                                            animals and animal products.
                                            <a href="/assets/CPD modules/Biosecurity in Animal Farms.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Biosecurity in Animal Farms.pdf" download><i
                                                    class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Bovine Reproduction CPD</h4>
                                        <p>Bovine reproduction with optimal fertility is the major factor determining
                                            the bovine farm efficiency and profitability. The
                                            dairy cows have been selected for high performance; milk productivity has
                                            steadily increased due.
                                            <a href="/assets/CPD modules/Bovine Reproduction CPD.pdf" class="read-more"
                                                target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Bovine Reproduction CPD.pdf" download><i
                                                    class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Brooke AHMF OIE compliant curricula AHM </h4>
                                        <p>The Animal Health Mentoring Framework (AHMF) is a form of work-based
                                            assessment
                                            which acts to help bridge skill and resource gaps by identifying individual
                                            AHP skill level using
                                            <a href="/assets/CPD modules/Brooke AHMF OIE compliant curricula AHM (4).pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Brooke AHMF OIE compliant curricula AHM (4).pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Ethics and Code of Conduct </h4>
                                        <p>Veterinary ethics is the application of ethical theories, principles, and
                                            rules by professionals and
                                            paraprofessionals in resolving ethical dilemmas in the practice of
                                            veterinary care.
                                            <a href="/assets/CPD modules/Ethics and Code of Conduct.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Ethics and Code of Conduct.pdf" download><i
                                                    class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Laboratory Diagnostic techniques </h4>
                                        <p>This course provides theoretical and practical aspects of training in key
                                            diagnostic skills for veterinary
                                            professionals and para-professionals, focusing on diagnosing infectious
                                            diseases in animals.
                                            <a href="/assets/CPD modules/Laboratory Diagnostic techniques.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Laboratory Diagnostic techniques.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Laboratory Information Management System-LIMS </h4>
                                        <p>Laboratory information management system (LIMS) is a software-based system
                                            that provides an efficient
                                            way to store, manage, and track samples and associated laboratory data,
                                            automate and manage work flow,
                                            improve laboratory efficiency, generate test reports and analyze laboratory
                                            data.
                                            <a href="/assets/CPD modules/Laboratory Information Management System-LIMS.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Laboratory Information Management System-LIMS.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Laboratory Quality Assurance-CPD </h4>
                                        <p>This course provides theoretical and practical aspects of training in key
                                            diagnostic skills for veterinary
                                            professionals and para-professionals, focusing on diagnosing infectious
                                            diseases in animals.
                                            <a href="/assets/CPD modules/Laboratory Quality Assurance-CPD.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Laboratory Quality Assurance-CPD.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Livestock Emergency Guidelines-LEGS </h4>
                                        <p>Livestock production plays an important role in the livelihood of millions of
                                            people in Ethiopia. Although it is an integral part of agriculture in all productions systems and
                                            agro-ecologies, large number of livestock is found in the pastoral areas,
                                            <a href="/assets/CPD modules/Livestock Emergency Guidelines-LEGS.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Livestock Emergency Guidelines-LEGS.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Mastitis-Diagnosis and management</h4>
                                        <p>Bovine mastitis is the main dairy sector hampering disease with a huge economic
                                            impact. The effect is more intense in developing countries due to different factors. 
                                            <a href="/assets/CPD modules/Mastitis-Diagnosis and management.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Mastitis-Diagnosis and management.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>One health CPD module CPD</h4>
                                        <p>Health issues at the human-animal-environment interface cannot be effectively addressed by one sector alone. Collaboration
                                            across all sectors and disciplines responsible for health is required to address zoonotic diseases and other shared health
                                            threats at the human-animal-environment interface. 
                                            <a href="/assets/CPD modules/One health CPD module CPD.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/One health CPD module CPD.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Quality and mangement of veterinary services</h4>
                                        <p>This course will cover important topics necessary to build quality of the veterinary service core elements of
                                            veterinary service governance like veterinary legislation, organizational structure of the veterinary service, 
                                            <a href="/assets/CPD modules/Quality and mangement of veterinary services.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Quality and mangement of veterinary services.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Risk analysis</h4>
                                        <p>Risk analysis is a tool that uses data, information and expert opinions from many disciplines and skills,
                                            including pathology, microbiology, virology, epidemiology, statistics, probability modelling and
                                            economics. Risk analysis could be qualitative or quantitative.  
                                            <a href="/assets/CPD modules/Risk Analysis.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Risk Analysis.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Trade of Animals and their products</h4>
                                        <p>The livelihood of smallholder rural farmers is highly dependent on the cash income from livestock and
                                            livestock products. About 80-90% of livestock product markets from developing countries are dominated
                                            by 
                                            <a href="/assets/CPD modules/Trade of Animals and their products.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Trade of Animals and their products.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Veterinary Rationalization Roadmap-VRRM</h4>
                                        <p>To improve the knowledge, attitudes and skills of veterinary professionals and
                                            veterinary para-professionals regarding rationalizing veterinary services in
                                            Ethiopia through defined roles and responsibilities of public and private service
                                            goods, 
                                            <a href="/assets/CPD modules/Veterinary Rationalization Roadmap-VRRM.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Veterinary Rationalization Roadmap-VRRM.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>
                                <div class="card-module">
                                    <fieldset>
                                        <legend>
                                            <h3 class="season"></h3>
                                        </legend>
                                        <i class="fa-solid fa-file card-fa"></i>
                                        <h4>Veterinary Surgery</h4>
                                        <p>The veterinary competences are dynamic and development does not stop after graduation. All
                                            veterinarians should regularly update their competences to stay engaged in the new developments in the
                                            veterinary field by participating in postgraduate education. 
                                            <a href="/assets/CPD modules/Veterinary Surgery.pdf"
                                                class="read-more" target="_blank">read more...</a>
                                        </p>
                                        <p>
                                            <a class="download-btn button"
                                                href="/assets/CPD modules/Veterinary Surgery.pdf"
                                                download><i class="fa-solid fa-download"></i>Download PDF</i></a>
                                        </p>
                                    </fieldset>
                                </div>

                            </div>
                        </section>

                        

                        <section id="training-faq">
                            <h4 class="left">Frequently Asked Questions:</h4>
                            <div class="card2">
                                <div class="card">
                                    <ul>
                                        <li> What is the EVA Training Portal?
                                            <p>The EVA Training Portal is a new IT tool made available to all EVA
                                                Members,
                                                interested veterinary professionals
                                                , technical and financial Partners and the public at large - with
                                                various levels of access - to improve the capacity of national
                                                Veterinary
                                                Services via online training activities, resources and discussions. All
                                                EVA
                                                training data will be managed through this Portal with several
                                                functionalities,
                                                including notably a e-calendar of all EVA training activities, a
                                                e-catalog
                                                where all available EVA e-courses are presented and a dedicated space
                                                for
                                                distance learning ('My trainings').</p>
                                        </li>
                                        <li> Who is the Portal for?
                                            <p>The EVA Training Portal is primarily geared towards the veterinary work
                                                force of
                                                national Veterinary Services of EVA Members accross the countries. This
                                                work
                                                force is mainly
                                                composed of veterinarians and veterinary paraprofessionals from the
                                                public and
                                                private sectors. Additionally, some information, trainings and resources
                                                are
                                                also made available to the public at large, upon self-registration.</p>
                                        </li>
                                        <li> Where can i find the list of available e-courses?
                                            <p>All available e-courses are displayed in the Portal e-catalog, sorted out
                                                in
                                                sixteen Competences Packages directly relevant to EVA mandate and
                                                missions, and
                                                supporting the implementation of EVA Strategic Plans.In your
                                                dashboard/’My
                                                trainings’, will appear : (i) the e-courses which are publically
                                                available, upon
                                                self-registration ; (ii) the e-courses delivered in the framework of
                                                WOAH
                                                Training programmes for WOAH Delegates, Focal Points and Contact Points,
                                                for
                                                which you have been manually registered by the EVA Training Secretariat,
                                                upon
                                                the approval of your Delegate as relevant.</p>
                                        </li>
                                        <li> Who is managing the OMSA e-Portal?
                                            <p>The EVA Training Portal is managed by the Secretariat of the EVA Platform
                                                for
                                                the Training of
                                                Veterinary Services, within the newly created Capacity Building
                                                Department of
                                                EVA Headquarters. You can contact the Secretariat at: <a href=""><span
                                                        class="link">eva-training@eva.org.et</span></a>
                                            </p>
                                        </li>
                                        <li> Can i attend EVA class-room events?
                                            <p>EVA class-room courses are organised for EVA Delegates, Focal Points and
                                                Contact Points (designated for some topics or diseases such as PPR or
                                                FMD) only
                                                and are part of the EVA global training programme. They will be
                                                systematically
                                                combined with e-courses ('blended' courses) that will take place one
                                                month prior
                                                to the class-room courses, and sometimes after it.</p>
                                        </li>
                                        <li> <b>Account Holder’s Name </b>: Ethiopian Veterinary Association</li>
                                    </ul>
                                </div>
                                <div class="card">
                                    <ul>
                                        <li>What do i need to access WOAH online courses and ressources?
                                            <p>To access the online courses, you need to have a good stable internet
                                                connection at home or in the office along with a desktop or laptop (and
                                                in a future an android phone).Whenever possible, all courses will be
                                                made available for downloads to minimise the internet connection time.
                                            </p>
                                        </li>
                                        <li>What can i find in 'My trainings'
                                            <p>In 'My Trainings' (also called Dahboard in the left menu), you will
                                                find:(i) all e-courses for which you can self-enroll (such as the PPP
                                                e-courses); (ii) all courses (whether online or class-room courses) that
                                                belong to WOAH global training programme aimed for WOAH Delegates, Focal
                                                Points and Contact Points and for which you have been registrered for by
                                                the WOAH Training Secretariat (upon your Delegate's approval, as
                                                relevant).</p>
                                        </li>
                                        <li>Are the e-courses free?
                                            <p>EVA courses are free of charge for all. Some EVA labelised courses may be
                                                fee-based depending on the education service provider.</p>
                                        </li>
                                        <li>What if i don't find the course I want in the EVA training e-catalog?
                                            <p>The EVA e-catalog will be enriched overtime and we encourage you to
                                                regularly check it. New available courses will be advertized on the
                                                Portal homepage in the 'What's New section'. You can also contact the
                                                WOAH Training Platform Secretariat at <a href="#"><span
                                                        class="link">eva-secreteriat@eva.org.et</span></a> to indicate
                                                the courses you are looking for.</p>
                                        </li>
                                        <li>Are the EVA courses valid for CPD?
                                            <p>EVA does not want to engage into the accreditation or certification of
                                                training programmes at this stage. However, EVA e-courses can be used
                                                by educational systems, whether national or regional, and be allocated
                                                some training credits within Qualification Frameworks that support
                                                Continuing Professional Development. In all cases, it is wishable that
                                                the EVA e-courses taken by Veterinary Services staff can be recorded in
                                                a national Training Management System.</p>
                                        </li>
                                    </ul>
                                    <p>reference: https://training.woah.org/</p>
                                </div>
                            </div>

                        </section>

                    </div>
                    <div class="right-container">
                        <ul class="Right-nav">
                            <li><a href="#about-cpd">About EVA Trainings and CPD</a></li>
                            <li><a href="#guide">Guide</a></li>
                            <li><a href="#bank-account">Bank Account</a></li>
                            <li><a href="#Courses">Courses</a></li>
                            <li><a href="#cpd-modules">Modules</a></li>
                            <li><a href="#training-faq">FAQ</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Log in</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>