<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <section>
                    <div class="news">
                        <h4 class="news-title">HEARD Project has donated Essential Veterinary drugs to help fact
                            recovery of drought hit livestock in Boran zone of Oromia region through the Ethiopian
                            Veterinary Association</h4>
                        <img class="news-img" src="/assets/news/HEARD-borena.jpg" alt="">
                        <p>HEARD – is a European Union funded program designed to strengthen animal health services
                            involving public and private sectors. Through the 11th EDF, ILRI and EVA have jointly
                            component two of the HEARD action under Result 2 and thus received a grant from the European
                            Union to achieve the key results The pastoral communities of Borana zone of Oromia region
                            have been hit by recurrent drought as a result of consecutive failure of rains from 2021 to
                            February 2023. The EVA has been closely monitoring the drought situation in the region and
                            moisture deficit woredas. The EVA as one of the key actors and implementers of the HEARD
                            project extended hands for the drought affected livestock in Borana zone of Oromia region to
                            help fast recovery of the core breeding livestock base. The Ethiopian Veterinary Association
                            has officially handed over essential Veterinary drugs worth of 2,417,047.4 to seven HEARD
                            beneficiary woredas in Borana zone of Oromia region.</p>
                        <p>One of the largest ranches in Boran zone, Yabello woreda, Dido Tuyura Ranch, which was
                            established to preserve genetic of Boran cattle lost more than 700 cattle in the recent
                            drought. The ranch was among the beneficiaries who receive the support. The drugs donated
                            included multivitamins antibiotics and anthelmintic that are key to fast recovery of drought
                            affected livestock. The drugs were officially handed over to Borana Zone administration last
                            Saturday (June 10, 2023) at Yabello town in the presence of zonal Cabinet, delegates from
                            Oromia, regional Bureau of Livestock, key figures from Ministry of agriculture and Ministry
                            of Finance of FDR, Ethiopia and HEARD Oromia region and community elders and religious
                            leaders at Borana zone administration. The zonal office of agriculture and livestock
                            development acknowledged the donation by EVA HEARD and the support was key in filling
                            essential veterinary drugs shortages in the zone and asked the continuation of the support
                            through animal health, feed and water development projects. The Oromia Broadcasting Network
                            (OBN) has filmed the official handover event and posted news on its official social Media.
                            EVA has the plan to support drought affected HEARD beneficiary 4 woredas in Somali region
                            with essential veterinary drugs worth of 2.4 million by next week in the presence of
                            officials.</p>
                        <p>The EVA HEARD project would like to thank EU and all actors who made this happen.</p>
                        <p>Related report on the subject from OBN <a class="read-more"
                                href="https://fb.watch/l9FdltvxDW/?mibextid=Nif5oz" target="_blank">read more..</a></p>
                        <p> Article contributed by Fasil Awol(Dr), EVA HEARD Project Coordinator.</p>
                        <p> June 2023</p>
                    </div>
                </section>
                <section id="oie">
                    <div class="news">
                        <h4 class="news-title">World Animal Health Information System</h4>
                        <img class="news-img" src="/assets/logos/oie.png" alt="">
                        <p>OIE-WAHIS (OIE World Animal Health Information System) is a unique comprehensive database
                            through which information on the animal health situation worldwide is reported and
                            disseminated throughout the world. OIE-WAHIS data reflects the information gathered by the
                            Veterinary Services from OIE Members and non-Members Countries and Territories on OIE-listed
                            diseases in domestic animals and wildlife, as well as on emerging diseases and zoonoses.</p>
                        <p>All this information can be publicly accessed and visualized on this interface. OIE-WAHIS
                            replaces and significantly extends the former web interface named WAHIS providing access to
                            all reported data since 2005. This new public interface includes data extraction tools,
                            interactive mapping tools and dashboards to support data consultation, visualization and
                            extraction of officially validated animal health data.</p>
                        <p>Visit OIE Website for further information <a class="read-more"
                                href="https://wahis.woah.org/#/home" target="_blank">read more..</a></p>

                    </div>
                </section>

            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>