<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <img src="/assets/images/HeardTaskForce1.jpg" alt="HEARD" srcset="">

                    <h2>Health of Ethiopian Animals for Rural Development(HEARD)</h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4 id="background">Overview</h4>
                        <section>
                            <p>EU11th EDF – NIP ETH – FED/2015/038-008 (Euro 15 million)</p>
                            <p>Operational implementation 2019-2022</p>
                            <p>HEARD – a new EU program to strengthen animal health services involving public and
                                private
                                sectors
                                The HEARD program aims to increase sustainable livestock productivity and improve the
                                marketing
                                of livestock products through enhancing quality and reliability of integrated public and
                                private
                                veterinary service delivery. Performance of the veterinary service will be strengthened
                                to
                                improve data gathering, analysis and strategic animal health interventions by both
                                public and
                                private sectors. Capacity development for different stakeholders involved in animal
                                health
                                service delivery is at the heart of the program.</p>
                        </section>
                        <h4 id="rationale">Rationale:</h4>
                        <section>
                            <p>With the largest livestock population in Africa (59.5 million cattle, 29.5 million sheep,
                                30.2
                                million goats, 8 million equines, 1.2 million camels and 49 million poultry), livestock
                                are
                                extremely important for economic development, food and nutrition security, and poverty
                                reduction
                                in Ethiopia.</p>
                            <p>Technical, institutional, infrastructural, environmental and policy challenges in the
                                veterinary
                                sector are a key constraint for livestock development. The veterinary services require
                                enormous
                                improvement in terms of regulatory support, technical back up and institutional
                                capacities at
                                different levels in order to reduce losses attributed to diseases and enhance
                                production,
                                productivity and quality of livestock derived products. The national animal health
                                strategy aims
                                to provide animal health, public health and food safety as well as welfare services
                                which comply
                                with international standards and contribute to the achievement of food security, poverty
                                alleviation and socio economic growth.</p>
                            <p>The HEARD Program builds on the experiences and lessons gained from the implementation of
                                the
                                completed 10th EDF LVC-PPD project (2010 to 2015) and the EC SHARE funded FAO project:
                                FED/2014/316-779 ”Pursuing Pastoralist Resilience (PPR), and also wider consultation of
                                all
                                concerned stakeholders in the livestock sector. HEARDS aims to enhance the quality and
                                quantity
                                of integrated veterinary services delivery and strengthening animal health and through
                                its
                                activities directly contributes to the implementation of the Government Livestock Master
                                Plan
                                (LMP), as well as the livestock development targets in the Government Growth and
                                Transformation
                                Plan (GTP II – 2016 to 2020).</p>

                        </section>
                        <h3 class="h3_title">The HEARD program is organized into 3 result components:</h3>
                        <section>
                            <ul>
                                <li><em> <b>Result 1:</b></em> the quality of public and private veterinary services is
                                    strengthened and delivery optimised (through the creation of an enabled and
                                    rationalised
                                    environment). This component of the program is implemented through 3 regional grants
                                    (Somali
                                    regional, Amhara and Oromia) with support of the Ministry for Agriculture and
                                    Livestock
                                    Resources (MoALR)</li>
                                <li><em> <b>Result 2:</b></em> technical competences (knowledge, skills and attitude)
                                    and
                                    incentives for veterinary service providers is improved to deliver better and
                                    rationalised
                                    services. This component is jointly implemented by the International Livestock
                                    Research
                                    Institute and the Ethiopian Veterinary Association and provides guidance on setting
                                    up
                                    public private partnerships and provides capacity development for veterinary
                                    professionals
                                    at different levels.</li>
                                <li><em> <b>Result 3:</b></em> Food safety of primary products of animal origin is
                                    improved and
                                    better control of zoonotic diseases achieved. This component is led by MoALR and
                                    focuses on
                                    meat inspection and improved food safety along the livestock value chains.</li>

                            </ul>
                            <p></p>
                            <p>With the planned activities in the 3 result components, HEARD will add value to the
                                livestock
                                sector development. Efforts to improve performance of veterinary services build on OIE
                                PVS
                                evaluation and gap assessment and include implementing and strengthening the Livestock
                                identification and traceability system (LITS), developing meat inspection trainings,
                                establishment of a veterinary statutory body, establishing a continued professional
                                development
                                program for veterinary professionals, develop and pilot test novel models of public
                                private
                                partnerships to roll out the Veterinary Services Rationalisation Road Map, and
                                implementing
                                animal welfare standards.</p>
                            <p>Strengthening of LITS will add values to enhance the export of livestock and livestock
                                products.
                                This will be done through up scaling the database of the system and by encouraging of
                                traders to
                                implement the system. On the other hand, designing curriculum for meat inspection course
                                and
                                provision of training in higher education will help to produce certified and competent
                                meat
                                inspectors. Furthermore, supporting export abattoir certification through developing
                                meat
                                inspection course and provision of training provides safe and quality livestock and
                                livestock
                                products for local and export markets. This will in turn ensures acceptance and trust
                                among
                                local consumers and countries importing Ethiopian livestock products.</p>
                            <p>The establishment of a veterinary statutory body coupled with a Continuing Professional
                                Development (CPD) program for veterinary professionals and updating veterinary
                                curricula, will
                                enable development of a corps of competent professionals for the delivery of private and
                                public
                                animal health services. HEARD supports targeted capacity development in business skills
                                and
                                developing guidance on public-private partnerships for animal health service delivery.
                            </p>
                            <p>HEARD Implementing partners and stakeholders:</p>
                            <p>The overall implementation of the HEARD program is coordinated by the Livestock State
                                Ministry of
                                MoALR.
                            </p>



                        </section>
                        <h4 id="Implementers">The implementing partners are:</h4>
                        <section>
                            <ul>
                                <li>Ministry of Agriculture and Livestock Resources -MoALR (Result 1 and 3);</li>
                                <li>The International Livestock Research Institute and the Ethiopian Veterinary
                                    Association
                                    (Result 2).
                                </li>
                                <li>Oromia National Region state Bureau of Livestock and Fisheries Development (Result
                                    1).</li>
                                <li>Amhara National Regional State Livestock Resource Development and Promotion Agency
                                    (Result
                                    1).</li>
                                <li>The Somali National Regional state Somali Livestock and Pastoralists Development
                                    Bureau
                                    (Result 1)</li>
                            </ul>
                        </section>
                        <h4>Strategic partners are:</h4>
                        <section>
                            <ul>
                                <li> The Agricultural Transformation Agency (ATA),</li>
                                <li>National Universities, Ministry of Trade (MoT), private sector (livestock and
                                    livestock
                                    product producers, processor and exporter associations), veterinary and
                                    para-veterinary
                                    associations, CAHWs</li>
                                <li>The World Animal Health Organization (OIE)</li>
                                <li>Other actors in the livestock sector: NCSO’s/NGOs, DPs: USAID, FAO, WB, and UNDP
                                    including
                                    members of the RED&FS platform</li>
                            </ul>
                        </section>

                        <h4 id="lvc"> LVC-PPD Project </h4>
                        <img class="lvc" src="/assets/news/EVA-LVC-PPD-Logo.png" alt="">
                        <section>
                            <h3>Improving and Integrating Animal Health Services in the Livestock Value Chain through
                                Public-Private Dialogue in Ethiopia (LVC/PPD)</h3>

                            <h4>Project Summary</h4>
                            <p> The LVC-PPD Project was implemented to contribute to increased incomes of
                                livestock-dependent
                                households in Ethiopia to alleviate poverty in line with the Millennium Development
                                Goals (MDG).
                                More specifically, the LVC-PPD project added value to livestock commodity production
                                chains by
                                integrating strengthened animal health, advisory and regulatory services, supported by
                                effective
                                dialogue between and mutually agreed actions by stakeholders in the public and private
                                sectors.
                            </p>
                            <p>Duration of the project: 2013 – 2016</p>
                            <h4>Background</h4>
                            <p>In Ethiopia, livestock plays a major role in the livelihoods of the rural poor: it
                                provides
                                productive capital, food, draught power, and cash income. The livestock sector accounts
                                for more
                                than 40% of the Agricultural Gross Domestic Product. Thus, it is not only crucial for
                                the
                                country’s food security, but it is also an important contributor to overall national
                                economic
                                growth and poverty reduction. However, the livestock sector currently faces severe
                                constraints:
                                live animal exports are periodically restricted by the application of international
                                sanitary
                                standards and import bans imposed by Gulf countries. In addition, the performance of the
                                livestock sub-sector is constrained by poor animal nutrition and diseases, among other
                                factors
                            </p>
                            <h4>Objectives of the project</h4>
                            <h3 class="h3_title">Overall objective</h5>
                                <p>To contribute to increased incomes of livestock-dependent households in Ethiopia to
                                    alleviate
                                    poverty in line with the Millennium Development Goals (MDG).</p>
                                <h3 class="h3_title">Specific objective</h3>
                                <p>To add value to livestock commodity production chains by integrating strengthened
                                    animal
                                    health,
                                    advisory and regulatory services, supported by effective dialogue between and
                                    mutually
                                    agreed
                                    actions by stakeholders in the public and private sectors.</p>
                                <h4>Partners</h4>
                                <ul>
                                    <li>Animal and Plant Health Regulatory Directorate of the Federal Ministry of
                                        Agriculture and Rural Development</li>
                                    <li>Ethiopian Veterinary Association consortium</li>
                                    <li>NGOs</li>
                                </ul>
                                <h4>Target Groups</h4>
                                <p>Stakeholders: A wide range of stakeholders targeted. These include, livestock
                                    breeders
                                    and
                                    keepers (producers in the lowland areas of the country); livestock traders and
                                    transporters;
                                    local authority official and workers at livestock markets; abattoir owners,
                                    employees
                                    and
                                    business associations; exporters of animal produce; veterinary and para-veterinary
                                    staff
                                    at
                                    federal, regional and local levels; other service providers; and consumers in
                                    general. A
                                    number
                                    of national and regional institutions, which include: National Veterinary Institute;
                                    Quality
                                    Standards Authority of Ethiopia; the Quality Assurance Laboratory and government
                                    livestock
                                    department. </p>
                                <h4>Final Beneficiaries</h4>
                                <ul>
                                    <li>The main target groups that directly benefit from the project are the service
                                        providers
                                        (government and non-government [i.e., private sector]); the main stakeholders in
                                        the
                                        value
                                        chain in project intervention areas; and, stakeholder, business and professional
                                        associations.</li>
                                    <li>The final beneficiaries are livestock owners and keepers, those employed in the
                                        livestock
                                        commodity value chain and their families who benefit from increased incomes, as
                                        well
                                        as the
                                        consumers of livestock products who have improved access to safer, wholesome
                                        food of
                                        animal
                                        origin.</li>

                                </ul>
                                <h4>Expected Results</h4>
                                <ul>
                                    <li>Result 1. Capacities of public and private stakeholders are developed to plan,
                                        manage and
                                        evaluate services and inputs needed by livestock commodity chains.</li>
                                    <li>Result 2. Animal health, advisory and regulatory services for livestock
                                        commodity
                                        value
                                        chains are developed and strengthened.</li>
                                    <li>Result 3. A knowledge base that meets the needs of public-private dialogue in
                                        the
                                        context of
                                        livestock commodity production and marketing chains is developed and
                                        established.
                                    </li>
                                </ul>

                                <h4>Main Activities</h4>
                                <ul>
                                    <li>Establish and maintain effective project management with joint planning,
                                        implementation and
                                        monitoring and evaluation.</li>
                                    <li>Promote public private dialogue through focus groups, field visits, needs
                                        assessment,
                                        baseline studies and other forums. Support the development of business
                                        associations.
                                    </li>
                                    <li>Develop and implement a capacity building programme including training on
                                        hygiene
                                        and
                                        processing.</li>
                                    <li>Support development of commodity standards and certification procedures.</li>
                                    <li>Support the establishment of accredited public and private laboratories.</li>
                                    <li>Support development and adoption of appropriate traceability systems.</li>
                                    <li>Support the rationalization of veterinary services.</li>
                                    <li>Support the launch of sanitary mandate contracts.</li>
                                    <li>Establish an operational, unified national disease reporting system with
                                        effective
                                        communications and strengthen animal disease surveillance and information
                                        management.</li>
                                    <li>Support the delivery and monitoring of animal health services, regulatory
                                        services,
                                        clinical
                                        and extension advice.</li>
                                    <li>Provide inspection and certification services.</li>
                                    <li>Strategically strengthen vaccine distribution network and develop public and
                                        private
                                        laboratories.</li>
                                    <li>Support development of analytical laboratory facilities for residues of
                                        veterinary
                                        medicines
                                        in products of animal origin.</li>
                                    <li>Implement a communications policy and design and establish a knowledge
                                        management
                                        system
                                        including a website and a needs-driven market information system.</li>
                                    <li>Commission participatory studies of production systems and develop
                                        evidence-based
                                        guidelines
                                        to channel investment to the animal health sector.</li>
                                    <li>Support and monitor networks of Community Animal Health Workers (CAHWs) and
                                        other
                                        service
                                        providers</li>
                                    <li>Compile inventories of indigenous knowledge of practices within the livestock
                                        commodity
                                        chain.</li>
                                    <li>Develop and implement pilot models of service delivery to value chains.</li>

                                </ul>
                        </section>
                        </section>

                    </div>
                    <div class="sidebar">
                        <ul>
                            <h4>HEARD</h4>
                            <li><a href="#background" target="_top">Background</a></li>
                            <li><a href="#rationale">Rationale</a></li>
                            <li><a href="/publication#heard-output" target="_blank">HEARD project Outputs</a></li>
                            <h4>LVC-PPD project</h4>

                        </ul>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>