<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>PUBLICATIONS</h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4 id="description">Description</h4>
                        <section>
                            <p>
                                &nbsp; This section presents different publications Produce via EVA
                            </p>
                        </section>

                        <h4 id="newsletters">Newsletter</h4>
                        <section>
                            <div class="card-container">
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/publications/newsletter/issue5.png"
                                            alt="evj">
                                    </div>

                                    <div class="btn">
                                        <button type="button"> <a
                                                href="/assets/publications/newsletter/EVA-issue-5-Final.pdf"
                                                target="_blank">EVA Issue 5</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/publications/newsletter/issue4.png"
                                            alt="evj">
                                    </div>

                                    <div class="btn">
                                        <button type="button"> <a
                                                href="/assets/publications/newsletter/EVA-newsletter-issue-4-.pdf"
                                                target="_blank">EVA Issue 4</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/publications/newsletter/issue3.png"
                                            alt="evj">
                                    </div>

                                    <div class="btn">
                                        <button type="button"> <a
                                                href="/assets/publications/newsletter/EVA-Newsletter-Issue-3-WEB.pdf"
                                                target="_blank">EVA Issue 3</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/publications/newsletter/issue2.png"
                                            alt="evj">
                                    </div>

                                    <div class="btn">
                                        <button type="button"> <a
                                                href="/assets/publications/newsletter/EVA-Newsletter-Issue-2-.pdf"
                                                target="_blank">EVA Issue 2</a></button>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-img">
                                        <img class="card-image" src="/assets/publications/newsletter/issue1.png"
                                            alt="evj">
                                    </div>

                                    <div class="btn">
                                        <button type="button"> <a
                                                href="/assets/publications/newsletter/EVA-newsletter-issue-1-August-2019.pdf"
                                                target="_blank">EVA Issue 1</a></button>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <h4 id="bulletins">Bulletins</h4>
                        <section>
                            <p>
                                Bulletins to be ...
                            </p>

                        </section>
                        <h4 id="proceedings">Proceedings</h4>
                        <section>
                            <p>
                                Proceedings here...
                            </p>

                        </section>
                        <h4 id="guidelines">Guidelines</h4>
                        <section>
                            <p>
                                Guidelines here...
                            </p>

                        </section>
                        <h4 id="reports">Reports</h4>
                        <section>
                            <p>
                                Reports here...
                            </p>

                        </section>
                        <h4 id="heard-output">HEARD Project Outputs</h4>
                        <section>
                            <ul class="archive-list">
                                <li><a href="/assets/publications/HEARD/BSE-training-report-Oromia-oct-2022-1.pdf"
                                        target="_blank" class="link ">
                                        EVA has organized Business Skills and Entrepreneurship training to Private
                                        Veterinary Service Providers in Oromia Region through the EU Financed HEARD
                                        Project</a></li>
                                <li><a href="/assets/publications/HEARD/EU-HEARD-Annual-report-2020.pdf" target="_blank" class="link ">EU-HEARD-Annual-report-2020</a></li>
                                <li><a href="/assets/publications/HEARD/EU-HEARD-Ethiopia-projects-summary-July-2021-1.pdf" target="_blank" class="link ">EU-HEARD-Ethiopia-projects-summary</a></li>
                                <li><a href="/assets/publications/HEARD/HEARD_Approaches_methodologies.pdf" target="_blank" class="link ">Gender integration in the Health
                                    of Ethiopian Animals for Rural Development (HEARD) project: Approaches and methodologies</a></li>
                                <li><a href="/assets/publications/HEARD/HEARD_Partners_training.pdf" target="_blank" class="link ">
                                    Gender integration in the Health of Ethiopian Animals for Rural Development (HEARD) project:
                                    Partners’ sensitization and alignment training report</a></li>
                                <li><a href="/assets/publications/HEARD/HEARD_Training_trainers.pdf" target="_blank" class="link ">Training of trainers (ToT) report
                                    on development and delivery of continuing professional development (CPD) modules in the veterinary domain</a></li>
                                <li><a href="/assets/publications/HEARD/HEARD-flyer-1.pdf" target="_blank" class="link ">HEARD-flyer</a></li>
                                <li><a href="/assets/publications/HEARD/MasterTrainingCourseMaterial.pdf" target="_blank" class="link ">Master training course on community
                                    conversation approach in animal health management</a></li>
                                <li><a href="/assets/publications/HEARD/TOT-_development-modules-_veterinaryDomain-1 (1).pdf" target="_blank" class="link ">A training of trainers course
                                    on development and delivery of continuing professional development modules in the veterinary domain</a></li>
                                
                            </ul>
                        </section>
                    </div>
                    <div class="sidebar">

                        <ul>
                            <li><a href="#description" target="_top">Description</a></li>
                            <li><a href="#newsletters">Newsletters</a></li>
                            <li><a href="#bulletins">Bulletins</a></li>
                            <li><a href="#proceedings">Proceedings</a></li>
                            <li><a href="#guidelines">Guidelines</a></li>
                            <li><a href="#reports">Reports</a></li>
                            <li><a href="#heard-output">HEARD Project Outputs</a></li>

                        </ul>
                    </div>
                </div>

            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>