<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">

                    <h2>Ethiopian Veterinary Association</h2>
                    <h3> Members Registration </h3>
                </div>
                <div class="container grid">
                    <div class="left-container">
                        <h3> Regular Members Registration </h3>
                        

                    </div>
                    <div class="right-container">

                        <ul class="Right-nav">
                            <img src="/assets/images/evj.jpg" alt="EVJ-logo" srcset="">
                            <li><a href="#background" target="_top">Description </a></li>
                            <li><a href="#evj-objective">Objectives of the EVJ</a></li>
                            <li><a href="#structure">Guide for Authors</a></li>
                            <li><a href="#structure">Editorial Board</a></li>
                            <li><a href="https://www.ajol.info/index.php/evj" target="_blank">Other Links</a></li>
                            <li><a href="#journal-volumes">Journal Volumes</a></li>
                            <li><a href="#partners">Submit Article</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>