<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>Related Links</h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4>Links</h4>
                        <section>
                            <ul>
                                <li>Ministry of Agriculture:- <a class="link" href="http://www.moa.gov.et/">http://www.moa.gov.et/</a> </li>
                                <li>World Veterinary Association (WVA):- <a class="link" href="https://www.worldvet.org/">https://www.worldvet.org/</a></li>
                                <li>World Organization for Animal Health (OIE):–  <a class="link" href="https://www.oie.int/">https://www.oie.int/</a></li>
                                <li>Food and Agricultural Organization (FAO):– <a class="link" href="http://www.fao.org/home/en/">http://www.fao.org/home/en/</a></li>
                                <li>World Health Organization (WHO):–  <a class="link" href="https://www.who.int/">https://www.who.int/</a></li>
                                <li>International Livestock Research Institute (ILRI):– <a href="">https://www.ilri.org/</a></li>
                                <li>Zoetis A.L.P.H.A:–  <a class="link" href="https://www.zoetis.com/">https://www.zoetis.com/</a></li>
                                <li>Research Institutes (Ethiopian Institute of Agricultural Research):– <a class="link" href="http://www.eiar.gov.et/">http://www.eiar.gov.et/ </a></li>
                                <li>National Veterinary Institute –  <a class="link" href="https://www.nvi.com.et/">https://www.nvi.com.et/</a></li>
                                <li>National and Regional Animal Health Diagnostic Laboratories:– <a class="link" href="https://nahdic.gov.et/">https://nahdic.gov.et/</a></li>
                                <li>Civil Society Organizations Agency:– <a class="link" href=" https://www.acso.gov.et/"> https://www.acso.gov.et/</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="sidebar">
                        <ul>
                            <li><a href="#background" target="_top">partners</a></li>
                            <li><a href="#">Stakeholders</a></li>
                            <li><a href="#" target="_blank">Institutes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>