<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs');%>

    <body>
        <!--nav-->
        <%- include('./partials/nav.ejs');%>
            <!--Content-->
            <div class="content">
                <div class="head-image">
                    <h2>CPD TRAININGS </h2>
                </div>
                <div class="sticky-container">
                    <div class="main">
                        <h4 id="about-cpd">About EVA CPD-Trainings</h4>
                        <section>
                            <p> &nbsp; Aimed for the reinforcement of Veterinary Services across the Country,
                                as well as make the training modules accessable for every professional.
                            </p>
                            <p>Carefully curated in order to enable veterinary professionals to have the necessary know
                                how and
                                skills in maintaining the animal health with computence as well as ...
                            </p>
                        </section>
                        <h4 id="benefits">Benefits</h4>
                        <section>
                            <section>
                                <div class="card-container">
                                    <div class="card">
                                        <div class="card-img">
                                            <i class="fa-solid fa-laptop-medical card-icon"></i>
                                        </div>
                                        <div class="card-info">
                                            <h4>Benefit 1 </h4>
                                            <p>
                                                Tailored training solutions for all EVA Members and Vet Professionals
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-img">
                                            <i class="card-icon fa-solid fa-pen-nib "></i>

                                        </div>
                                        <div class="card-info">
                                            <h4>Benefit 2 </h4>
                                            <p>
                                                Allow you to plan ahead and send the most appropriate persons to the
                                                proposed
                                                trainings (not yet operational).
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-img">
                                            <i class="card-icon fa-solid fa-leaf"></i>
                                        </div>
                                        <div class="card-info">
                                            <h4>Benefit 3 </h4>
                                            <p>
                                                To develop your skill set and exchange best practices
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </section>

                        <h4 id="instructions">Instructions</h4>
                        <section>
                            <h3 class="bold">1. For free Courses</h3>
                            <p>For Students and professionals interested to take particular course marked as "Free",
                                should follow the following steps in order to enroll to the program.</p>
                            <ol class="numbered-list">
                                <li>Click the "<span class="read-more">Read more...</span>" link to learn more about
                                    the course and requirements for the course </li>
                                <li>Prepare necessary documents needed for the training, (if specified on the
                                    training requirment) </li>
                                <li>Select the target trainig by clicking on the Enroll button and fill all the
                                    necessary fields on the Registration form with appropriate information, and attach
                                    required documents if
                                    requested.
                                </li>
                                <li>When you complete filing all the form fields, you will be prompted with message
                                    confirming successful registration, In addition you will recieve email
                                    confirmation to the email you provided.
                                    <p></p>
                                    <p>
                                        <em><b>Note</b>, provide active and working contact address including phone
                                            number and email, becouse you will be contacted via this contact address
                                            through out the training period, so failing to provide the proper contact
                                            address is
                                            your own responsiplity, incase we are unable to reach you via the contact
                                            address you provided.
                                        </em>
                                    </p>
                                </li>
                            </ol>
                        </section>
                        <h3 class="bold">2. For Payed Training</h3>
                        <section>
                            <p>For Students and professionals interested to take particular course marked as
                                "<b>Payed</b>", is expected to follow the following steps in order to enroll to the
                                program.</p>
                            <ol class="numbered-list">
                                <li>Click the "<b>Read more...</b>" link to learn more about
                                    the course and requirements for the course</li>
                                <li>Prepare necessary documents needed for the training, if specified on the
                                    training requirment </li>
                                <li>Pay the specified amount for the course via bank account of "EVA Training
                                    Account" opened for this purpose only.
                                    And make ready the scanned copy of the reciept(screenshot of mobile transaction)
                                    wich will be needed during registration.
                                </li>

                                <li>Select the target Trainig by clicking on the "<b>Enroll</b>" button and fill the
                                    necessary fields on the Registration with appropriate information, Make sure to
                                    attach
                                    the the receipt that confirms the payment on indicated
                                    input-field appropriate which requests to attach payment reciept.
                                    <p></p>
                                    <p>
                                        <em><b>Note</b>, if the reciept is not recieved the enrollment process will
                                            <b>NOT</b> be
                                            completed</em>
                                    </p>
                                </li>
                                <li>When you complete filing all the form fields, you will be prompted with message
                                    confirming successful registration, In addition you will recieve email
                                    confirmation to the email you provided.
                                    <p></p>
                                    <p>
                                        <em><b>Note</b>, provide active and working contact address including phone
                                            number
                                            and email, becouse you will be contacted via this contact address
                                            through out
                                            the Training period, so failing to provide the proper contact address is
                                            your
                                            own responsiplity if you we unable to reach you via the contact address
                                            you
                                            provided.</em>
                                    </p>
                                </li>
                            </ol>
                        </section>
                        <h4 id="bank-account">Payment Bank Account</h4>
                        <section>
                            <p>For payed courses, please deposit your training Fee to the
                                following bank
                                account of Ethiopian Veterinary Association:</h4>
                            <p>
                                <ul>
                                    <li> <b> Bank Name</b>: Commercial Bank of Ethiopia (CBE)</li>
                                    <li> <b>Bank Country and City</b>: Addis Ababa, Ethiopia</li>
                                    <li><b>Bank Branch Address</b> : Addis Ababa, Cape Verde  Street</li>
                                    <li><b> Swift Code</b>: CBETATAA</li>
                                    <li><b>AccountNumber</b>:1000050555333</li>
                                    <li><b>Account Holder’s Name</b>: Ethiopian Veterinary Association </li>
                                </ul>
                        </section>
                        <h4 id="cpd">CPD Courses and Modules</h4>
                        <section>
                            <div class="card-container">
                                <div class="card card-large">
                                    <div class="card-img ">
                                        <h3 class="h3_title">CPD COURSES</h3>
                                        <img class="card-image" src="/assets/cpd-img/courses.png" alt="" srcset="">

                                    </div>
                                    <div class="card-info">

                                        <p>Our extensive course catalogue features only the highest-quality endorsed
                                            study
                                            programs, covering a wide variety of
                                            popular subjects and vocational topics
                                        </p>
                                        <a class="button" href="/courses" target="_blank">Browse Courses</a>

                                    </div>
                                </div>
                                <div class="card card-large">
                                    <div class="card-img">
                                        <h3 class="h3_title">CPD MODULES</h3>
                                        <img class="card-image" src="/assets/cpd-img/modules.png" alt="" srcset="">
                                    </div>
                                    <div class="card-info">

                                        <p>Choose from dynamic range of informative tutorials and individual modules,
                                            providing detailed insights into more specialist skills and knowledge areas.
                                        </p>
                                        <a class="button" href="/modules" target="_blank">Browse Modules</a>
                                    </div>
                                </div>
                        </section>
                        <h4 id="training-faq">Frequently Asked Questions:</h4>
                        <section>
                            <ul>
                                <li> <b>What is the EVA Training Portal?</b>
                                    <p>The EVA Training Portal is a new IT tool made available to all EVA
                                        Members, interested veterinary professionals, technical and financial Partners
                                        and the public at large - with
                                        various levels of access - to improve the capacity of national Veterinary
                                        Services via online training activities, resources and discussions. All
                                        EVA training data will be managed through this Portal with several
                                        functionalities, including notably a e-calendar of all EVA training activities,
                                        a
                                        e-catalog where all available EVA e-courses are presented and a dedicated space
                                        for distance learning ('My trainings').</p>
                                </li>
                                <li> <b> Who is the Portal for? </b>
                                    <p>The EVA Training Portal is primarily geared towards the veterinary work
                                        force of national Veterinary Services of EVA Members accross the countries. This
                                        work force is mainly composed of veterinarians and veterinary paraprofessionals
                                        from the
                                        public and private sectors. Additionally, some information, trainings and
                                        resources
                                        are also made available to the public at large, upon self-registration.</p>
                                </li>
                                <li> <b> Where can i find the list of available e-courses? </b>
                                    <p>All available e-courses are displayed in the Portal e-catalog, sorted out
                                        in
                                        sixteen Competences Packages directly relevant to EVA mandate and
                                        missions, and
                                        supporting the implementation of EVA Strategic Plans.In your
                                        dashboard/’My
                                        trainings’, will appear : (i) the e-courses which are publically
                                        available, upon
                                        self-registration ; (ii) the e-courses delivered in the framework of
                                        WOAH
                                        Training programmes for WOAH Delegates, Focal Points and Contact Points,
                                        for
                                        which you have been manually registered by the EVA Training Secretariat,
                                        upon
                                        the approval of your Delegate as relevant.</p>
                                </li>
                                <li> <b> Who is managing the CPD e-Portal? </b>
                                    <p>The EVA Training Portal is managed by the Secretariat of the EVA Platform
                                        for the Training of Veterinary Services, within the newly created Capacity
                                        Building
                                        Department of EVA Headquarters. You can contact the Secretariat at: <a
                                            href=""><span class="link">eva-training@eva.org.et</span></a>
                                    </p>
                                </li>
                                <li> <b> Can i attend EVA class-room events? </b>
                                    <p>EVA class-room courses are organised for EVA Delegates, Focal Points and
                                        Contact Points (designated for some topics or diseases such as PPR or
                                        FMD) only and are part of the EVA global training programme. They will be
                                        systematically combined with e-courses ('blended' courses) that will take place
                                        one
                                        month prior to the class-room courses, and sometimes after it.</p>
                                </li>
                                <li> <b>Where do I pay course payments? </b>: Ethiopian Veterinary Association</li>
                                <li> <b>What do i need to access EVA online courses and ressources?</b>
                                    <p>To access the online courses, you need to have a good stable internet
                                        connection at home or in the office along with a desktop or laptop (and
                                        in a future an android phone).Whenever possible, all courses will be
                                        made available for downloads to minimise the internet connection time.
                                    </p>
                                </li>
                                <li> <b>What can i find in 'My trainings' </b>
                                    <p>In 'My Trainings' (also called Dahboard in the left menu), you will
                                        find:(i) all e-courses for which you can self-enroll (such as the PPP
                                        e-courses); (ii) all courses (whether online or class-room courses) that
                                        belong to EVA global training programme aimed for WOAH Delegates, Focal
                                        Points and Contact Points and for which you have been registrered for by
                                        the EVA Training Secretariat (upon your Delegate's approval, as
                                        relevant).</p>
                                </li>
                                <li><b> Are the e-courses free? </b>
                                    <p>EVA courses are free of charge for all. Some EVA labelised courses may be
                                        fee-based depending on the education service provider.</p>
                                </li>
                                <li><b> What if i don't find the course I want in the EVA training e-catalog?</b>
                                    <p>The EVA e-catalog will be enriched overtime and we encourage you to
                                        regularly check it. New available courses will be advertized on the
                                        Portal homepage in the 'What's New section'. You can also contact the
                                        EVA Training Platform Secretariat at <a href="#"><span
                                                class="link">eva-secreteriat@eva.org.et</span></a> to indicate
                                        the courses you are looking for.</p>
                                </li>
                                <li><b>Are the EVA courses valid for CPD?</b>
                                    <p>EVA does not want to engage into the accreditation or certification of
                                        training programmes at this stage. However, EVA e-courses can be used
                                        by educational systems, whether national or regional, and be allocated
                                        some training credits within Qualification Frameworks that support
                                        Continuing Professional Development. In all cases, it is wishable that
                                        the EVA e-courses taken by Veterinary Services staff can be recorded in
                                        a national Training Management System.</p>
                                </li>
                            </ul>
                            <p>reference: https://training.woah.org/</p>
                        </section>
                    </div>
                    <div class="sidebar">
                        <ul>
                            <li><a href="#about-cpd" target="_top">About CPD Training</a></li>
                            <li><a href="#benefits">Benefits</a></li>
                            <li><a href="#instructions">Instructions</a></li>
                            <li><a href="#bank-account">Bank account detail</a></li>
                            <li><a href="/courses">CPD Courses </a></li>
                            <li><a href="/modules">CPD Modules </a></li>
                            <li><a href="#training-faq">Faqs about CPD</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Log in</a></li>
                        </ul>
                    </div>

                </div>
            </div>


            <!--Footer-->
            <%- include('./partials/footer.ejs');%>
    </body>

</html>