/* varaibles */
:root {
    --yellow: #eef58f;
    --blue: #2d71d6;
    --lightblue: #c2defd;
    --gray: #5c5c5a;
    --black: #222222;
    --bg: #ffffff;
}

/* reset */
body,
p,
h1,
h2,
h3,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p {
    line-height: 1.2;
    padding-bottom: 1rem;
}

li {
    list-style-type: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* base styles */
body {
    background: var(--bg);
    overflow-x: hidden;
    font-family: 'Rubic regular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    height: 100%;
    width: 100%;
}

/* fonts */
@font-face {
    font-family: 'Rubic Regular';
    src: url(/assets/fonts/Rubik-Regular.ttf);
}

h1,
h2,
h3,
h4 {
    color: #050511;
    font-weight: normal;
}

p,
a,
li {
    color: #010108;
}

h1,
h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
}

/*BUTTON and LINK STYLING */
.btn-group {
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.btn-group-centered {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.btn {
    /* button*/
    margin-top: 0.3rem;
    padding: 0.25rem 1rem;
    display: block;
    background-color: var(--yellow);
    color: var(--blue);
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--bg);
    border-radius: 0.35rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    cursor: pointer;
    transition: 4ms ease-in-out;
    outline: none;

    /* curved or half moon buttons to align with border radius
    border: 1px solid var(--gray);
    border-radius: 0 0 15px 15px;
    */
}

.btn:active {
    transform: scale(.98);
}

.btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--blue);
    background: var(--blue);
    color: var(--bg);
    cursor: pointer;
}

.download-btn {
    background: #e6774b;
    border: 2px solid var(--bg);
    color: var(--bg);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-transform: initial;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    font-size: 0.8rem;
}

/* Back ground colors*/
.yellow-bg {
    background-color: var(--yellow);
}

/*palcement*/


/*Grid spec*/
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 0.7rem;
}

/* MOBILE STYLES */
/* TOP NAV STYLING*/
/* Hide secondary Menu(which contains social and submenu) and Main-nav
     on mobiles and use burger menu for main-Nav */

.secondary-menu {
    display: none;
}

.site-title {
    grid-column: 1/13;
    text-align: center;
}

.logo {
    max-width: 20%;
    border-radius: 50%;
}

.moto {
    font-style: italic;
    font-size: 1.4rem;
}

/*MAIN NAV STYLING*/
.main-nav {
    /* sticky nav*/
    position: sticky;
    top: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    background-color: #eef58f;
    z-index: 2;
}

/*Mobile/Hamberger Menu styling */
/*hide the checkbox inside nav*/
.nav-checkbox {
    display: none;
}

/*hide the toggle checkbox*/
.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0 2rem;
    right: 0;
    font-size: 1.4rem;
    color: var(--blue);
    font-weight: bold;
    align-items: center;

    .fa-bars {
        margin-top: 0.5rem;
    }

    /* hide close icon initally to toggle between hamberger*/
    .fa-xmark {
        display: none;
    }
}

/* The Mobile Nav munu's links */
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem 0.5rem;
}

/*Initially hide the links until the hamberger menu is clicked*/
.nav-menu li {
    display: none;
}

.nav-menu li:first-child {
    margin-right: auto;
    display: block;
    padding: 0.5rem 2rem;
}

.nav-menu li a {
    color: #1f4fd4;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    transform: 1ms ease;
}

.nav-menu a:hover,
.nav-toggle:hover {
    background: var(--blue);
    color: var(--bg);
    padding: 0.75rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
}

/*toggle nav menu when checkbox is clicked*/
.nav-checkbox:checked~ul.nav-menu li {
    display: block;
}

/* switch to close icon when toggled*/
.nav-checkbox:checked~label.nav-toggle .fa-xmark {
    display: block;
}

.nav-checkbox:checked~label.nav-toggle .fa-bars {
    display: none;
}


/*Index page styling */
/*Carousel slider*/
#welcome {
    align-items: center;
    padding: 1.5rem 1rem;
    background: url(/images/Participants-7-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#welcome div {
    grid-column: 1/13;
}

.welcome-text {
    margin: 5rem 0.2rem;
    grid-column: 1/5;
    background-color: rgba(46, 69, 134, 0.5);
    padding: 0 0.8rem;
    border-radius: 1rem;
}

.welcome-text h2 {
    color: var(--yellow);
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 1.2rem;
    font-weight: bold;
}

.welcome-text p {
    color: var(--bg);
    text-align: justify;
    font-size: 1rem;
}


/*president message*/
#President-message {
    background-color: var(--yellow);
}

#President-message div {
    grid-column: 1/13;
}

.section_header {
    margin-top: 1rem;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    display: block;
}

.president-img {
    padding-top: 2rem;
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.president-msg img {
    padding: auto;
    width: 10rem;
    height: 10rem;
}

.president-img p {
    padding: 0.3rem;
    text-align: center;
    color: var(--blue);
}

.president-m {
    text-align: justify;
    padding: 2rem;
}

/*About,News,Journals,trainings,projects section*/
/* General card styles*/
.card-container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin: 1rem auto;
    align-items: center;
}

/*cards styling*/
.card-container .card {
    background: var(--bg);
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: 2px solid var(--blue);
    border-radius: 1rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    justify-content: center;
    margin: 1rem;
}

.card-img {
    width: 100%;
    margin-bottom: 0;
}

.card-icon {
    width: 100%;
    font-size: 5rem;
    color: var(--blue);
    text-align: center;
    margin-top: 1rem;
}

.card-img .card-image {
    width: 100%;
    max-height: 50vh;

}

.card-image:hover,
.card-icon:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.card-info h4 {
    font-size: 1.4rem;
    padding: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.5;
}

.card-info p {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
    font: sans-serif;
}


/* white bg strip*/
#news,
#trainings {
    background: var(--bg);
}

/* yellow stripe for odd sections */
#news,
#trainings,
#partners {
    width: 100%;
    background-color: var(--yellow);
}


/*Logo sliders*/
/*Animate logos slide */
@keyframes slides {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#partners {
    background-color: rgba(70, 68, 68, 0.1);
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}

/*fadeout effect*/
#partners::before,
#partners::after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
}

#partners::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--bg));
}

#partners::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bg));
}

/*pouse on hover*/
#partners:hover .logos-slide {
    cursor: pointer;
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 10s slides infinite linear;
}

.logos-slide img {
    height: 100px;
    margin: 0 30px;
}


/*Footer Styling */
#footer {
    width: 100%;
    background-color: #14153D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
}

.evj-logo {
    text-align: center;
    padding: 1rem auto;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

footer h2 {
    text-align: center;
    padding: 1rem;
    color: var(--blue);
    font-size: 1.7rem;
}
.foot-p p{
        padding-top: 0.1rem;
        font: 1.4rem sans-serif;
        text-align: start;
}
.footer-bottom, .copyr{
 color: var(--bg);
}
.social-bottom a{
    color:var(--yellow);
    font-size: 1.2rem;
    padding: 0 1rem;
}
.social-bottom a:hover{
    cursor:pointer;
    color:var(--blue);
    text-decoration: underline;
}

/* ABOUT PAGE*/
.head-image {
    text-align: center;
}

.head-image img {
    max-width: 100%;
}

/*2 column page with sticky sidebar*/
.sticky-container {
    padding: 0.5rem;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.main,
.sidebar {
    padding: 1rem;
    background-color: #fff;
}

.main {
    width: 90%;/*74*/    
    margin: 0 auto;
   }
  .main section p{
    font-size: 1rem;
   }

.sidebar {
    border-left: 1px solid rgb(201, 199, 199);
    width: 25%;
    height: 80vh;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
}

/*hide sidebar for mobile devices*/
.sidebar {
    display: none;
}

.main h4 {
    font-size: 1.2rem;
    font-weight: bold;
    background: var(--yellow);
    padding: 0.6rem;
}

.main ul {
    padding-left: 2rem;
}

.main ul li {
    list-style-type: square;
    padding: 0.3rem;
    font-size: 1rem;
}
.main em{
    font-size: 1rem;
    font-style:italic;
    font-weight: bold;
    color: #c72014;
    padding-bottom: 0.4rem;
}

.main .card-img {
    width: 100%;
}

.main .card-container .card .card-image {
    width: 95%;
    text-align: center;
    margin-top: 0.75rem;
    padding:  auto;
    border-radius: 0.8rem;
}
.main .card-container .card h4 {
   margin: 0;
   padding: 0;
}


.sidebar ul li {
    padding: 0.4rem 0 0;
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
}

.sidebar ul li a {
    color: var(--blue);
    padding-left: 0.5rem;
}

.sidebar ul li:hover {
    cursor: pointer;
    display: block;
    color: var(--black);
    background: #f7f2f2;
    border-left: 1px solid var(--blue);
}

.sidebar img {
    margin: 0;
    padding: 0 auto;
    width: 80%;
    height: 40%;
}

.link {
    color: var(--blue);
    font-size: 1rem;
}

/* EVJ PAGE*/
.head-image h2 {
    margin-top: 2rem;
}

.main .archive-list li {
    padding: 1rem 0;
    border-bottom: 1px solid #cacac3;
}

.temp-menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #c5c5bd;

}

/* MEMBERSHIP PAGE*/
.bold {
    font-weight: bold;
    padding: 0.5rem;
    font-size:1rem;
}

.numbered-list{
margin-top: 0;
}
.numbered-list li {
    list-style-type: decimal;
    text-align: justify;
    line-height: 1.2;
    padding: 0.3rem;
    font-size: 1rem;
    font-style: oblique;
}


/* Registration Forms*/
form {
    background-color: #d3d6dd;
    padding: 2rem;
    width: 90%;
    margin: 20px auto;

    .label {
        display: block;
        width: 85%;
        padding: 0.3rem;
    }

    .label span {
        color: red;
    }

    .dropdown,
    .txt {
        width: 90%;
        height: 1.8rem;
        border: 1px solid #999;
        font-size: 1rem;
        background-color: #eee;
        border-radius: 5px;
        margin: 0 auto 1rem;
        padding-left: 0.5rem;
    }


    .txt-field {
        padding: 1rem;
    }

    .radioBtn {
        padding: 0.3rem 2rem;
        justify-content: flex-start;
        display: block;
    }

    .formBtn {
        width: 100%;
        margin: 1rem auto;
    }

    .txtarea {
        border-radius: 8px;
    }

    /*login form*/
    #login {
        border-radius: 10px;
        background-color: #1f4fd4;
    }

    .whiteBg {
        background: var(--bg);
        padding: 1rem;
    }

    .astrix {
        color: red;
    }


}


/*Contact Form*/
#contact {
    padding: 30px 20px;
    background: #bfcef7;
}

#contact h3,
#contact p {
    text-align: center;
    margin-bottom: 1rem;
}


#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid #9893D8;
    display: block;
    color: #222;
}

/* TRAINING PAGE*/
.h3_title {
    font-size: 1.4rem;
    line-height: 2;
    color: #f14c70;
}

.card-image {
    width: 70%;
    text-align: center;
}

.card-video {
    width: 90%;
    margin-left: 1.2rem;
    align-self: center;
}

.card h4,
.read-more {
    color: #1f4fd4;
    padding: 0.5rem;
}

/*Project Page*/
.lvc {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

/*Conference Page*/
.conference-poster {
    width: 80%;
    padding: 0 2rem;
}

/*NEWS PAGE*/
.news-title {
    text-align: center;
    font-weight: bold;
}

.news-img {
    padding-left: 15rem;
    justify-content: center;
    width: 50%;
    height: 10%;
    padding: 2rem auto;
}

/* MEDIA QUERIES */
/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }

    /*Nav*/
    .logo {
        max-width: 15%;
        border-radius: 50%;
    }

    .moto {
        font-style: italic;
        font-size: 1.4rem;
    }

    /*Welcome */
    #welcome div {
        grid-column: 1/8;
    }

    .welcome-text h2 {
        font-weight: bold;
        font-size: 1.4rem;
        justify-content: center;
        line-height: 1.2;
    }

    .welcome-text p {
        color: var(--bg);
        text-align: justify;
        font-size: 1rem;
    }

    .buttons a {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    /*about, news,journals section*/
    .card-container .card{
        width: 40%;
    }

    .card-icon {
        text-align: center;
        max-width: 60%;
    }

    /*ABOUT PAGE*/
   

    /* EVJ PAGE*/
    #journal-volumes div div {
        grid-column: span 6;
        display: block;
    }


    .download-btn:hover {
        background: var(--blue);
        color: var(--black);
    }

    /*Training 620px */


    /*Contact Form*/
    #contact form {
        width: 90%;
        max-width: 600px;
        margin: 20px auto;
        text-align: center;
    }

    #contact button {
        width: 80%;
        max-width: 600px;
    }

    /*Footer */
   

}

/* large tablets and laptops styles */
@media screen and (min-width:960px) {
    body {
        font-size: 18px;
    }

    /*grid*/
    .grid {
        width: 100%;
        /*max-width: 1060px;*/
        margin: 0 auto;
        box-sizing: border-box;
    }

    /*unhide social and secondary menus inside top-av*/
    .secondary-menu {
        display: grid;
    }

    /*TOP nav styling */
    .site-title {
        grid-column: 1/8;
    }

    .secondary-menu {
        grid-column: 8/13;
        justify-self: end;
    }

    .logo {
        float: left;
        max-width: 15%;
        border-radius: 50%;
        padding: 1rem;
    }

    .moto {
        align-self: center;
        text-align: start;
        padding-top: 2.5rem;
        display: block;
        font-size: 1.6rem;
    }

    .social-top {
        padding: 0.5rem;
    }

    .social-top a {
        float: right;
        padding-left: 0.8rem;
        font-size: 1rem;
        color: var(--blue);
    }

    .submenu {
        font-size: 0.8rem;
        padding-left: 1rem;
    }

    .submenu a {
        color: var(--blue);
        padding-right: 0.5rem;
    }

    .social-top a:hover,
    .submenu a:hover {
        color: var(--black);
        border-radius: 5px;
    }

    /*Nav*/
    /* hide mobile nav */
    .main-nav .nav-toggle {
        display: none;
    }

    /*Main Nav*/
    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
        padding: 0.5rem 0 0;
        justify-content: space-between;
        align-self: center;
    }

    .nav-menu li a {
        font-size: 1.2rem;
    }


    /*welcome Carousel section styling*/
    .leading {
        margin: 20px auto;
    }

    .welcome-text {
        align-self: center;
    }

    .welcome-text h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    /*President section*/
    .president-msg {
        display: flex;
    }

    .president-img {
        max-width: 100%;
    }

    .president-img img {
        width: 15rem;
        height: 15rem;
        margin: 0 1rem;
        border: 1px solid #010108;
    }
    .president-m p{
        font-size: 1rem;
    }

    /* Sections index: about, news,training, width:30%*/
    .card-container .card{
        width: 30%;
        margin: 0;
    }

    #journals .card {
        width: 22%;
    }
    #projects .card{
        width:45%;
    }

 /*Footer*/
    .social-bottom a {
        font-size: 1.5rem;
    }

    /* ABOUT PAGE*/
    .main {
        width: 74%;
    }

    .sidebar {
        display: block;
    }



    /* EVJ PAGE*/
    .main .journal-vols .card{
        width: 22%;
    }
    /*PUBLICATIONS PAGE*/
    .main .newsletters .card{
        width: 17%;
    }

    /*MEMBERSHIP PAGE */


}

/* desktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    /*grid*/

    /*Nav*/
    .moto {
        font-size: 2rem;
    }

    .social-top a,
    .submenu a {
        font-size: 1.1rem;
        padding-left: 0.75rem;
    }

    .nav-menu ul a {
        font-size: 1.3rem;
    }



    /* Sections*/
    .card-container .card{
        width: 30%;
        margin: 0;
    }
    
    /*Journals section */
    #footer div p {
        font-size: 1rem;

    }

    .social-bottom a {
        font-size: 1.5rem;
    }
}

/*Training Page*/
.card-container .card-large {
    width: 47%
}