/* varaibles */
:root {
    --yellow: #eef58f;
    --blue: #2d71d6;
    --gray: #5c5c5a;
    --black: #222222;
    --bg: #ffffff;
}

/* reset */
body,
p,
h1,
h2,
h3,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* base styles */
body {
    background: var(--bg);
    overflow-x: hidden;
    font-family: 'Rubic regular', serif;
}

.button {
    background: var(--yellow);
    border: 2px solid var(--bg);
    color: var(--blue);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    background: var(--blue);
}



/* fonts */
@font-face {
    font-family: 'Rubic Regular';
    src: url(/assets/fonts/Rubik-Regular.ttf);
}

h1,
h2,
h3,
h4 {
    color: #050511;
    font-weight: normal;
}

p,
a,
li {
    color: #010108;
}

h1,
h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
}

/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

/* hide top-nav on mobiles and use burger menu for main-Nav */
.top-nav {
    display: none;
}

.main-nav {
    display: none;
}

/*main Nav*/
nav {
    /* sticky nav*/
    position: sticky;
    top: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    background-color: #eef58f;
    padding: 0.2rem 1rem;
    z-index: 2;
}

.mobile {
    grid-column: 1/13;
}

.site-title {
    grid-column: 1/12;
    text-align: center;
}

.mobile ul {
    display: none;
}

.logo {
    max-width: 20%;
    border-radius: 50%;
}

.moto {
    font-style: italic;
    font-size: 0.8rem;
}

.humberger {
    grid-column: 12/13;
}

nav li a {
    color: #1f4fd4;
    font-size: 1rem;
    text-align: center;
    transform: 7s ease;
    font-weight:100;
}

nav li a:hover {
    color: #222;
}

/*Index page styling */
/*Carousel slider*/
#welcome {
    align-items: center;
    padding: 30px 20px;
    background: url(/assets/images/Participants-7-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

#welcome div {
    grid-column: 1/13;
}

.welcome-text {
    margin: 1rem 0.2rem;
    grid-column: 1/6;
    background-color: rgba(31, 79, 212, 0.5);
    padding: 0.8rem;
    border-radius: 20px;
}

.welcome-text h2 {
    color: var(--yellow);
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 0.4rem;
}

.welcome-text p {
    color: var(--bg);
    text-align: justify;
    font-size: 0.8rem;
}

.buttons {
    margin: 20px 0;
    text-align: center;
}

.buttons a {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

/*president message*/
#President-message {
    background-color: var(--yellow);
}

#President-message div {
    grid-column: 1/13;
}

.section_header {
    margin-top: 0.3rem;
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.president-img {
    grid-column: 1/4;
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.president-msg img {
    padding: auto;
    width: 10rem;
    height: 10rem;

}

.president-img p {
    padding: 0.3rem;
    text-align: center;
    color: var(--blue);
}

.president-m {
    text-align: justify;
    padding: 1rem;
}

/* About Us, news,journals,Trainings,projects and partners  section*/
#about div,
#news div,
#journals div,
#trainings div,
#projects div,
#partners div,
#footer div {
    grid-column: 1/13;
}

.cards {
    text-align: center;
}

.card {
    margin-top: 1rem;
}

.card * {
    margin-top: 0;
    padding: auto;
}

.card-icon {
    text-align: center;
    padding: auto;
    max-width: 40%;
}

.card p {
    padding: 0 0.5rem;
    text-align: justify;
    font-size: 0.9rem;
}

.card h4,
.read-more {
    color: #1f4fd4;
    padding: 0.5rem;
}

.card h4 {
    margin-bottom: 0;
}

#journals div div {
    padding: 1rem;
    grid-column: span 6;
    text-align: center;
}

/* yellow stripe for odd secctions */
#news,
#trainings,
#partners {
    background-color: var(--yellow);
}

/*Contact Form*/
#contact {
    padding: 30px 20px;
    background: #bfcef7;
}

#contact h3,
#contact p {
    text-align: center;
    margin-bottom: 1rem;
}

#contact form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid #9893D8;
    display: block;
    color: #222;
}

/* content Justification*/
.justify_center {
    text-align: center;
}

/*Footer Styling */
footer {
    background-color: #14153D;
    padding: 30px 20px;
}

.evj-logo {
    max-width: 40%;
}

footer p {
    color: var(--bg);
    font-size: 0.8rem;
}

footer h3,
.social-bottom,
.social-bottom a {
    color: var(--yellow);
}

.social-bottom a {
    padding: 0.6rem;
    font-size: 1.5rem;
}

.social-bottom a:hover {
    color: var(--blue);
}


/* MEDIA QUERIES */
/* small tablet styles */
@media screen and (min-width: 620px) {

    /*Nav*/
    .logo {
        max-width: 10%;
        border-radius: 50%;
    }

    .moto {
        font-style: italic;
        font-size: 1.2rem;
    }

    /*Welcome */
    #welcome div {
        grid-column: 1/8;
    }

    .welcome-text h2 {
        color: var(--yellow);
        font-weight: bolder;
        font-size: 1.4rem;
        justify-content: center;
        margin-bottom: 0.4rem;
    }

    .welcome-text p {
        color: var(--bg);
        text-align: justify;
        font-size: 1rem;
    }

    .buttons a {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    /*about*/
    .card {
        display: flex;
    }

    .card p {
        text-align: justify;
        font-size: 1rem;
    }

    /* News, Training and projects Section*/
    #news .cards .card,
    #trainings .cards .card,
    #projects .cards .card {
        grid-column: span 6;
        display: block;
        padding: 0.5rem 2rem;
    }
  
    .card-icon {
        text-align: center;
        max-width: 60%;
    }

    /*journals section and partners*/
    #journals div div,
    #partners div div {
        display: block;
        padding: 1rem;
        grid-column: span 3;
        text-align: center;
    }

    #journals h4 {
        text-align: center;
        font-size: 1rem;
    }

    .buttons a {
        font-size: 0.9rem;
    }

    /*Contact Form*/
    #contact form {
        width: 90%;
        max-width: 600px;
        margin: 20px auto;
        text-align: center;
    }

    #contact button {
        width: 80%;
        max-width: 600px;
    }

    /*Footer */
    /*Footer Styling */
   #footer .cards .card{
    grid-column: span 4;
    display: block;
   }
    .evj-logo {
        max-width: 80%;
    }
    #footer div p{
        font-size: 0.8rem;
    }

    footer h3,
    .social-bottom,
    .social-bottom a {
        color: var(--yellow);
    }

    .social-bottom a {
        padding: 0.3rem;
        font-size: 1.2rem;
    }

   
}

/* large tablets and laptops styles */
@media screen and (min-width: 960px) {
   /*grid*/
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
    }
    .mobile{
        display: none;
    }
   
    /*Nav*/
    /* hide mobile nav */
/*TOP nav styling */
.top-nav {
    margin: 0;
    display: grid;
    grid-column: 1/13;
}
.site-title{
    grid-column: 1/6;
}

.secondary-menu {
    grid-column: 6/13;
    justify-self: end;
}

.logo {
    float: left;
    max-width: 25%;
    border-radius: 50%;
    padding: 1rem;
}
.moto{
    align-self: center;
    padding-top: 2rem;
    display: block;
    font-size: 2rem;
}
.social-top{
    padding: 0.5rem;
}
.social-top a{
    float: right;
    padding:0.8rem;
    font-size: 1.2rem;
    color: var(--blue);
}

.submenu{
    padding-top: 5rem;
}
.submenu a{
    color: var(--blue);
    padding: 0.5rem;
}
.social-top a:hover,.submenu a:hover{
    color: var(--black);
}

/*main Nav*/
.main-nav{
    display: block;
}
nav {
    margin: 0;
    /* sticky nav*/
    position: sticky;
    top: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    background-color: #eef58f;
    padding: 0.2rem 1rem;
    z-index: 2;
}
nav ul{
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
}
}

/* desktop styles */
@media screen and(min-width: 1200px) {
    body {
        font-size: 20px;
    }


}