/* varaibles */
:root {
    --yellow: #eef58f;
    --blue: #2d71d6;
    --gray: #5c5c5a;
    --black: #222222;
    --bg: #ffffff;
}

/* reset */
body,
p,
h1,
h2,
h3,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* base styles */
body {
    background: var(--bg);
    overflow-x: hidden;
    font-family: 'Rubic regular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    height: 100%;
    width: 100%;
}

.button {
    background: var(--yellow);
    border: 2px solid var(--bg);
    color: var(--blue);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    background: var(--blue);
}



/* fonts */
@font-face {
    font-family: 'Rubic Regular';
    src: url(/assets/fonts/Rubik-Regular.ttf);
}

h1,
h2,
h3,
h4 {
    color: #050511;
    font-weight: normal;
}

p,
a,
li {
    color: #010108;
}

h1,
h3 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
}

/*Grid spec*/
.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
}

/* Mobile styles */
/* hide social and secondary on mobiles and use burger menu for main-Nav */
.secondary-menu {
    display: none;
}

.site-title {
    grid-column: 1/13;
    text-align: center;
}

.logo {
    max-width: 20%;
    border-radius: 50%;
}

.moto {
    font-style: italic;
    font-size: 1.2em;
}

/*hide main-nav and use mobile nav instead*/
.main-nav {
    display: none;
}

/*main Nav*/
nav {
    /* sticky nav*/
    position: sticky;
    top: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
    background-color: #eef58f;
    padding: 0.2rem 1rem;
    z-index: 2;
}

.mobile {
    grid-column: 1/13;
}

.mobile ul {
    display: none;
}

.mobile div {
    grid-column: 1/13;
}

.mobile div a {
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 0.5rem;
}

nav li a {
    color: #1f4fd4;
    font-size: 1.1rem;
    text-align: center;
    transform: 7s ease;
    font-weight: 100;
}

nav li a:hover {
    display: inline;
    background: var(--blue);
    color: var(--bg);
    padding: 0.7rem;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
}

/*Index page styling */
/*Carousel slider*/
#welcome {
    align-items: center;
    padding: 30px 20px;
    background: url(/assets/images/Participants-7-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

#welcome div {
    grid-column: 1/13;
}

.welcome-text {
    margin: 1rem 0.2rem;
    grid-column: 1/6;
    background-color: rgba(31, 79, 212, 0.5);
    padding: 0.8rem;
    border-radius: 20px;
}

.welcome-text h2 {
    color: var(--yellow);
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 0.4rem;
}

.welcome-text p {
    color: var(--bg);
    text-align: justify;
    font-size: 0.8rem;
}

.buttons {
    margin: 20px 0;
    text-align: center;
}

.buttons a {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

/*president message*/
#President-message {
    background-color: var(--yellow);
}

#President-message div {
    grid-column: 1/13;
}

.section_header {
    margin-top: 0.3rem;
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.president-img {
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.president-msg img {
    padding: auto;
    width: 10rem;
    height: 10rem;
}

.president-img p {
    padding: 0.3rem;
    text-align: center;
    color: var(--blue);
}

.president-m {
    text-align: justify;
    padding: 2rem;
}

/* About Us, news,journals,Trainings,projects and partners  section*/
#about div,
#news div,
#journals div,
#trainings div,
#projects div,
#partners div,
#footer div {
    grid-column: 1/13;
}

.cards {
    text-align: center;
}

.card {
    margin-top: 1rem;
}

.card * {
    margin-top: 0;
    padding: auto;
}

.card-icon {
    text-align: center;
    padding: auto;
    max-width: 40%;
}

.card p {
    padding: 0 1rem;
    text-align: justify;
    font-size: 0.9rem;
}

.card h4,
.read-more {
    color: #1f4fd4;
    padding: 0.5rem;
}

.card h4 {
    margin-bottom: 0;
}

#journals div div {
    padding: 1rem;
    grid-column: span 6;
    text-align: center;
}

/* yellow stripe for odd secctions */
#news,
#trainings,
#partners {
    background-color: var(--yellow);
}

/*Contact Form*/
#contact {
    padding: 30px 20px;
    background: #bfcef7;
}

#contact h3,
#contact p {
    text-align: center;
    margin-bottom: 1rem;
}

#contact form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
    padding: 0.5rem;
    border-radius: 20px;
    border: 2px solid #9893D8;
    display: block;
    color: #222;
}


/*Footer Styling */
footer {
    background-color: #14153D;
    padding: 30px 20px;
}

.evj-logo {
    max-width: 40%;
}

footer p {
    color: var(--bg);
    font-size: 0.8rem;
}

footer h3,
.social-bottom,
.social-bottom a {
    color: var(--yellow);
}

.social-bottom a {
    padding: 0.6rem;
    font-size: 1.5rem;
}

.social-bottom a:hover {
    color: var(--blue);
}

/* ABOUT PAGE*/
.head-image {
    text-align: center;
}

.head-image img {
    max-width: 100%;
}

.left-container {
    grid-column: 1/13;
    text-align: center;
    padding: 2rem;
}

.left-container p {
    text-align: justify;
    padding: 1rem;
    line-height: 1.4;
}

.left-container ul {
    text-align: left;
    margin-left: 3rem;
}

.left-container ul li {
    list-style-type: disc;
    padding: 0.5rem;
    text-align: justify;
}

#purpose {
    background-color: var(--yellow);
}

#missn div {
    grid-column: 1/13;
}

.card-fa {
    text-align: center;
    font-size: 6rem;
    color: var(--blue);
}

.link {
    color: var(--blue);
}

#missn .card33 {
    text-align: center;

}

#structure div div {
    grid-column: 1/13;
}

#structure h3 {
    margin: 2rem 1rem;
}

#structure img {
    max-width: 80%;
}

.right-container {
    display: none;
}
/* EVJ PAGE*/
.head-image h2{
    margin-top: 2rem;
}
.left{
    color: var(--blue);
    text-align: start ;
    font-weight: 100 bold;
    margin: 0;
    padding: 0.3rem;
}
.numbered-list li{
    list-style-type:decimal;
    text-align: justify;
    line-height: 1.2;
    padding: 0.5rem;
    font-size: 1rem;
    font-style: oblique;
}
#guide a{
    margin-bottom: 1rem;
    width: 80%;
}
#journal-volumes div div{
    grid-column: 1/13;
}

/* MEDIA QUERIES */
/* small tablet styles */
@media screen and (min-width: 620px) {
    body {
        font-size: 16px;
    }

    /*Nav*/
    .logo {
        max-width: 15%;
        border-radius: 50%;
    }

    .moto {
        font-style: italic;
        font-size: 1.4rem;
    }

    /*Welcome */
    #welcome div {
        grid-column: 1/8;
    }

    .welcome-text h2 {
        font-weight: bold;
        font-size: 1.4rem;
        justify-content: center;
        line-height: 1.2;
    }

    .welcome-text p {
        color: var(--bg);
        text-align: justify;
        font-size: 1rem;
    }

    .buttons a {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    /*about*/
    #about .card {
        padding: 0 1rem;
    }

    .card {
        display: flex;
    }

    .card p {
        text-align: justify;
        font-size: 1rem;
    }

    /* News, Training and projects Section*/
    #news .cards .card,
    #trainings .cards .card,
    #projects .cards .card {
        grid-column: span 6;
        display: block;
        padding: 0.5rem 2rem;
    }

    .card-icon {
        text-align: center;
        max-width: 60%;
    }

    /*journals section and partners*/
    #journals div div,
    #partners div div {
        display: block;
        padding: 1rem;
        grid-column: span 3;
        text-align: center;
    }

    #journals h4 {
        text-align: center;
        font-size: 1rem;
    }

    .buttons a {
        font-size: 0.9rem;
    }

    /*ABOUT PAGE*/
    .card31,
    .card32,
    .card33 {
        display: flex;
    }

    .card31 {
        padding-top: 2rem;
    }

    #missn h4 {
        margin: 0;
        padding-bottom: 2rem;
    }

    .card33 img {
        padding-left: 4rem;
    }

    #structure {
        margin-top: 2rem;
    }

    .card2 {
        display: flex;
    }

    .card21 img {
        width: 100%;

    }

    #partners h3 {
        padding-top: 2rem;
        font-size: 1.5rem;
    }
     /* EVJ PAGE*/
     #journal-volumes div div{
        grid-column: span 6;
        display: block;
    }


    /*Contact Form*/
    #contact form {
        width: 90%;
        max-width: 600px;
        margin: 20px auto;
        text-align: center;
    }

    #contact button {
        width: 80%;
        max-width: 600px;
    }

   

    /*Footer */
    /*Footer Styling */
    #footer .cards .card {
        grid-column: span 4;
        display: block;
    }

    .evj-logo {
        max-width: 80%;
    }

    #footer div p {
        font-size: 0.8rem;
    }

    footer h3,
    .social-bottom,
    .social-bottom a {
        color: var(--yellow);
    }

    .social-bottom a {
        padding: 0.3rem;
        font-size: 1.2rem;
    }
}

/* large tablets and laptops styles */
@media screen and (min-width:960px) {
    body {
        font-size: 18px;
    }

    /*grid*/
    .grid {
        width: 100%;
        /*max-width: 1060px;*/
        margin: 0 auto;
        box-sizing: border-box;
    }

    /*Nav*/
    /* hide mobile nav */
    .mobile {
        display: none;
    }

    /*unhide social and secondary menus inside top-av*/
    .secondary-menu {
        display: grid;
    }

    /*TOP nav styling */
    .site-title {
        grid-column: 1/6;
    }

    .secondary-menu {
        grid-column: 6/13;
        justify-self: end;
    }

    .logo {
        float: left;
        max-width: 25%;
        border-radius: 50%;
        padding: 1rem;
    }

    .moto {
        align-self: center;
        text-align: start;
        padding-top: 2.5rem;
        display: block;
        font-size: 1.6rem;
    }

    .social-top {
        padding: 0.5rem;
    }

    .social-top a {
        float: right;
        padding: 0.8rem;
        font-size: 1.2rem;
        color: var(--blue);
    }

    .submenu {
        font-size: 1rem;
        /*padding-top: 1rem;*/
    }

    .submenu a {
        color: var(--blue);
        padding: 0.5rem;
    }

    .social-top a:hover,
    .submenu a:hover {
        color: var(--black);
        border-radius: 5px;
    }

    /*main Nav*/
    .main-nav {
        display: block;
    }

    nav ul {
        display: flex;
        padding: 0.5rem 0;
        justify-content: space-between;
        align-self: center;
    }

    /*welcome Carousel section styling*/
    .leading {
        margin: 20px auto;
    }

    .welcome-text {
        align-self: center;
    }

    .welcome-text h2 {
        font-size: 1.6rem;
        text-align: center;
    }

    /*President section*/
    .president-msg {
        display: flex;
    }

    .president-img {
        max-width: 100%;
    }

    .president-img img {
        width: 15rem;
        height: 15rem;
        margin: 0 1rem;
        border: 1px solid #010108;
    }

    /*about Section*/

    /* News, Training and projects Section*/
    #news .cards .card,
    #about .cards .card,
    #trainings .cards .card,
    #projects .cards .card {
        grid-column: span 4;
        display: block;
        padding: 0.5rem 1rem;
    }

    .card-icon {
        max-width: 80%;
    }

    .evj-logo {
        max-width: 65%;
        float: left;
    }

    #footer div p {
        font-size: 0.9rem;
        padding: 0.3rem;

    }

    .social-bottom a {
        font-size: 1.5rem;
    }

    /* ABOUT PAGE*/
    .left-container {
        grid-column: 1/10;
    }

    .right-container {
        margin-top: 4rem;
        display: grid;
        grid-column: 10/13;
        text-align: center;
    }

    .right-container .Right-nav li {
        padding: 0.8rem;
        border: 1px solid #7e7e7b;
    }

    .right-container .Right-nav li a:hover {
        cursor: pointer;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    /*grid*/

    /*Nav*/
    .moto {
        font-size: 2.2rem;
    }

    .social-top a,
    .submenu a {
        font-size: 1.3em;
    }

    nav ul a {
        font-size: 1.4rem;
    }

    .welcome-text {
        grid-column: 1/3;

    }

    .welcome-text h2 {
        font-size: 1.6rem;
    }

    .welcome-text p {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 1.2rem;
    }

    #footer div p {
        font-size: 1rem;


    }

    .social-bottom a {
        font-size: 1.5rem;
    }
}